languagesystem DFLT dflt;
languagesystem bali dflt;

@GDEF_Base_Simple = [
  \uni1B05
  \uni1B06
  \uni1B07
  \uni1B08
  \uni1B09
  \uni1B0A
  \uni1B0B
  \uni1B0C
  \uni1B0D
  \uni1B0E
  \uni1B0F
  \uni1B10
  \uni1B11
  \uni1B12
  \uni1B13
  \uni1B14
  \uni1B15
  \uni1B16
  \uni1B17
  \uni1B18
  \uni1B19
  \uni1B1A {% if font != 'vimala' %}\uni1B1A.2{% endif %}
  \uni1B1B \uni1B1B.2
  \uni1B1C
  \uni1B1D
  \uni1B1E
  \uni1B1F
  \uni1B20
  \uni1B21
  \uni1B22
  \uni1B23
  \uni1B24
  \uni1B25
  \uni1B26
  \uni1B27
  \uni1B28
  \uni1B29
  \uni1B2A
  \uni1B2B
  \uni1B2C
  \uni1B2D
  \uni1B2E
  \uni1B2F 
  \uni1B30
  \uni1B31
  \uni1B32
  \uni1B33
  \uni1B45
  \uni1B46
  \uni1B47
  \uni1B48
  \uni1B49
  \uni1B4A
  \uni1B4B

  \uni1B50 \uni1B51 \uni1B52 \uni1B53 \uni1B54 \uni1B55 \uni1B56 \uni1B57 \uni1B58
  \uni1B59 \uni1B5A \uni1B5B \uni1B5C \uni1B5D \uni1B5E \uni1B5F \uni1B60 \uni1B61
  \uni1B62 \uni1B63 \uni1B64 \uni1B65 \uni1B66 \uni1B67 \uni1B68 \uni1B69 \uni1B6A
  \uni1B74 \uni1B75 \uni1B76 \uni1B77 \uni1B78 \uni1B79 \uni1B7A \uni1B7B \uni1B7C
];

@GDEF_Base = [
  @GDEF_Base_Simple

  \.notdef \nonmarkingreturn \space \nonbreakingspace \question
  \uni1B04
  \uni1B0B.conj
  \uni1B0C.conj
  
  \uni1B13.ra \uni1B13.td
  \uni1B14.ra
  \uni1B15.ra \uni1B15.td
  \uni1B16.ra \uni1B16.td
  \uni1B17.ra
  \uni1B18.ra \uni1B18.td
  \uni1B19.ra \uni1B19.td

  \uni1B1A.ra
  \uni1B1B.ra \uni1B1B.td \uni1B1B.conj \uni1B1B.conj.td
  \uni1B1C.ra
  \uni1B1D.ra \uni1B1D.td
  \uni1B1E.ra \uni1B1E.td
  \uni1B1F.ra \uni1B1F.td
  \uni1B20.ra
  \uni1B21.ra \uni1B21.td
  \uni1B22.ra \uni1B22.td

  \uni1B23.ra \uni1B23.td
  \uni1B23.conj.ra \uni1B23.conj.ya \uni1B23.conj.ya.td \uni1B23.conj.ya.u \uni1B23.conj.ya.uu

  \uni1B24.ra \uni1B24.td
  \uni1B25.ra \uni1B25.td

  \uni1B26.ra \uni1B26.td
  \uni1B26.conj.ya \uni1B26.conj.ya.td \uni1B26.conj.ya.u \uni1B26.conj.ya.uu

  \uni1B27.ra \uni1B27.td \uni1B27.conj \uni1B27.conj.ra \uni1B27.conj.td
  \uni1B28.ra \uni1B28.conj \uni1B28.conj.ra
  \uni1B29.ra
  \uni1B2A.ra \uni1B2A.td
  \uni1B2B.ra \uni1B2B.td

  \uni1B2C.ra \uni1B2C.td \uni1B2C.conj.1 \uni1B2C.conj.2 \uni1B2C.conj.td.1 \uni1B2C.conj.td.2
  \uni1B2C.conj.u.1 \uni1B2C.conj.u.2 \uni1B2C.conj.uu.1 \uni1B2C.conj.uu.2

  \uni1B2D.ra \uni1B2D.td \uni1B2D.conj.3 {% if font == 'vimala' %}\uni1B2D.conj.4{% endif %}
  \uni1B2D.conj.ya \uni1B2D.conj.3.ya \uni1B2D.conj.ya.td \uni1B2D.conj.3.ya.td
  \uni1B2D.conj.ya.u \uni1B2D.conj.3.ya.u \uni1B2D.conj.ya.uu \uni1B2D.conj.3.ya.uu

  \uni1B2E.ra \uni1B2E.td

  \uni1B2F.ra \uni1B2F.td
  \uni1B2F.conj.ra \uni1B2F.conj.ya \uni1B2F.conj.ya.td \uni1B2F.conj.ya.u \uni1B2F.conj.ya.uu

  \uni1B30.ra \uni1B30.td
  \uni1B31.ra \uni1B31.td \uni1B31.conj \uni1B31.conj.ra \uni1B31.conj.td
  \uni1B32.ra \uni1B32.td \uni1B32.conj
  \uni1B33.ra \uni1B33.td
  \uni1B35
  \uni1B3A.3 {% if font == 'vimala' %}\uni1B3A.4{% endif %}
  \uni1B3B
  \uni1B3D
  \uni1B3E
  \uni1B3F
  \uni1B40
  \uni1B41
  \uni1B43
  \uni1B44
  \uni1B45.ra \uni1B45.td
  \uni1B46.ra \uni1B46.td
  \uni1B47.ra \uni1B47.td
  \uni1B48.ra \uni1B48.td \uni1B48.conj \uni1B48.conj.ra \uni1B48.conj.td

  \uni1B49.ra \uni1B49.td
  \uni1B49.conj.ra \uni1B49.conj.ya \uni1B49.conj.ya.td \uni1B49.conj.ya.u \uni1B49.conj.ya.uu

  \uni1B4A.ra \uni1B4A.td \uni1B4A.conj
  \uni1B4B.ra \uni1B4B.td

  \uni200B \uni200C \uni200D \uni25CC \cereg1 \cereg2 \cereg3 \cereg4 \cereg5
];

@GDEF_Mark = [
  \_reorder
  \uni1B00
  \uni1B01
  \uni1B02
  \uni1B03 \uni1B03.2 \uni1B03.3
  \uni1B34
  \uni1B36
  \uni1B37
  \uni1B38 \uni1B38.2 \uni1B38.3 \uni1B38.4
  \uni1B39 \uni1B39.2 \uni1B39.3 \uni1B39.4
  \uni1B3C
  \uni1B42 \uni1B42.2
  \uni1B3A \uni1B3A.2 \uni1B3A.5
  \uni1B3C.blw
  \uni1B6B
  \uni1B6C
  \uni1B6D
  \uni1B6E
  \uni1B6F
  \uni1B70
  \uni1B71
  \uni1B72
  \uni1B73

  \uni1B34_uni1B02
  \uni1B34_uni1B03
  \uni1B34_uni1B36
  \uni1B34_uni1B36_uni1B02
  \uni1B34_uni1B36_uni1B03
  \uni1B34_uni1B37
  \uni1B34_uni1B37_uni1B02
  \uni1B34_uni1B37_uni1B03
  \uni1B34_uni1B42
  \uni1B34_uni1B42_uni1B02
  \uni1B34_uni1B42_uni1B03

  \uni1B36_uni1B00
  \uni1B36_uni1B01
  \uni1B36_uni1B02
  \uni1B36_uni1B02_uni1B03
  \uni1B36_uni1B03

  \uni1B37_uni1B00
  \uni1B37_uni1B01
  \uni1B37_uni1B02
  \uni1B37_uni1B02_uni1B03
  \uni1B37_uni1B03

  \uni1B42_uni1B02
  \uni1B42_uni1B03
  \uni1B42_uni1B02_uni1B03

  \uni1B0D.conj
  \uni1B0E.conj
  \uni1B13.conj
  \uni1B14.conj
  \uni1B15.conj
  \uni1B16.conj.1 \uni1B16.conj.2
  \uni1B17.conj
  \uni1B18.conj
  \uni1B19.conj.1 \uni1B19.conj.2
  \uni1B1A.conj {% if font != 'vimala' %}\uni1B1A.conj.u{% endif %}
  \uni1B1C.conj
  \uni1B1D.conj
  \uni1B1E.conj
  \uni1B1F.conj
  \uni1B20.conj
  \uni1B21.conj.1 \uni1B21.conj.2
  \uni1B22.conj
  \uni1B23.conj
  \uni1B24.conj {% if font != 'vimala' %}\uni1B24.conj.u{% endif %}
  \uni1B25.conj
  \uni1B26.conj \uni1B26.conj.u \uni1B26.conj.uu
  \uni1B29.conj.1 \uni1B29.conj.2
  \uni1B2A.conj
  \uni1B2B.conj
  \uni1B2D.conj.1
  \uni1B2D.conj.wa \uni1B2D.conj.3.wa
  \uni1B2E.conj.1 \uni1B2E.conj.2 \uni1B2E.conj.3
  \uni1B2F.conj.1 \uni1B2F.conj.2 \uni1B2F.conj.wa
  \uni1B30.conj
  \uni1B33.conj
  \uni1B45.conj
  \uni1B46.conj
  \uni1B47.conj
  \uni1B49.conj
  \uni1B4B.conj
];
