# GPOS

{% include 'spacing_mark_' ~ font ~ '.fea.j2' %}


{% include 'left_right.fea.j2' %}


{% include 'left2.fea.j2' %}


{% include 'suku_spacing.fea.j2' %}


{% include 'mark_' ~ font ~ '.fea.j2' %}


{% include 'mkmk_' ~ font ~ '.fea.j2' %}


{% include 'gpos_lookup.fea.j2' %}
