# GSUB

# character composition
lookup ccmpGlyphCompositionDecompositioninBalineselookup1 {
  lookupflag 0;
  sub \uni1B05 \uni1B35 by \uni1B06;
  sub \uni1B07 \uni1B35 by \uni1B08;
  sub \uni1B09 \uni1B35 by \uni1B0A;
  sub \uni1B0B \uni1B35 by \uni1B0C;
  sub \uni1B0D \uni1B35 by \uni1B0E;
  sub \uni1B11 \uni1B35 by \uni1B12;
} ccmpGlyphCompositionDecompositioninBalineselookup1;

# character decomposition
lookup ccmpGlyphCompositionDecompositioninBalineselookup2 {
  lookupflag 0;
  sub \uni1B3B by \uni1B3A \uni1B35;
  sub \uni1B3C by \uni1B3C.blw \uni1B42;
  sub \uni1B3D by \uni1B3C.blw \uni1B42 \uni1B35;
  sub \uni1B40 by \uni1B3E \uni1B35;
  sub \uni1B41 by \uni1B3F \uni1B35;
  sub \uni1B43 by \uni1B42 \uni1B35;
} ccmpGlyphCompositionDecompositioninBalineselookup2;

# repha in Kawi
lookup rphfRephForminBalineselookup1 {
  lookupflag 0;
  sub \uni1B2D' \uni1B44' @cons by \uni1B03;
} rphfRephForminBalineselookup1;

# adeg-adeg + consonant
lookup blwfBelowBaseFormsinBalineselookup2 {
  lookupflag 0;
  sub \uni1B44 \uni1B13 by \uni1B13.conj;
  sub \uni1B44 \uni1B14 by \uni1B14.conj;
  sub \uni1B44 \uni1B15 by \uni1B15.conj;
  sub \uni1B44 \uni1B16 by \uni1B16.conj.1;
  sub \uni1B44 \uni1B17 by \uni1B17.conj;
  sub \uni1B44 \uni1B18 by \uni1B18.conj;
  sub \uni1B44 \uni1B19 by \uni1B19.conj.1;
  sub \uni1B44 \uni1B1A by \uni1B1A.conj;
  sub \uni1B44 \uni1B1B by \uni1B1B.conj;
  sub \uni1B44 \uni1B1C by \uni1B1C.conj;
  sub \uni1B44 \uni1B1D by \uni1B1D.conj;
  sub \uni1B44 \uni1B1E by \uni1B1E.conj;
  sub \uni1B44 \uni1B1F by \uni1B1F.conj;
  sub \uni1B44 \uni1B20 by \uni1B20.conj;
  sub \uni1B44 \uni1B21 by \uni1B21.conj.1;
  sub \uni1B44 \uni1B22 by \uni1B22.conj;
  sub \uni1B44 \uni1B23 by \uni1B23.conj;
  sub \uni1B44 \uni1B24 by \uni1B24.conj;
  sub \uni1B44 \uni1B25 by \uni1B25.conj;
  sub \uni1B44 \uni1B26 by \uni1B26.conj;
  sub \uni1B44 \uni1B27 by \uni1B27.conj;
  sub \uni1B44 \uni1B28 by \uni1B28.conj;
  sub \uni1B44 \uni1B29 by \uni1B29.conj.1;
  sub \uni1B44 \uni1B2A by \uni1B2A.conj;
  sub \uni1B44 \uni1B2B by \uni1B2B.conj;
  sub \uni1B44 \uni1B2C by \uni1B2C.conj.1;
  sub \uni1B44 \uni1B2D by \uni1B2D.conj.1;
  sub \uni1B44 \uni1B2E by \uni1B2E.conj.1;
  sub \uni1B44 \uni1B2F by \uni1B2F.conj.1;
  sub \uni1B44 \uni1B30 by \uni1B30.conj;
  sub \uni1B44 \uni1B31 by \uni1B31.conj;
  sub \uni1B44 \uni1B32 by \uni1B32.conj;
  sub \uni1B44 \uni1B33 by \uni1B33.conj;
  sub \uni1B44 \uni1B45 by \uni1B45.conj;
  sub \uni1B44 \uni1B46 by \uni1B46.conj;
  sub \uni1B44 \uni1B47 by \uni1B47.conj;
  sub \uni1B44 \uni1B48 by \uni1B48.conj;
  sub \uni1B44 \uni1B49 by \uni1B49.conj;
  sub \uni1B44 \uni1B4A by \uni1B4A.conj;
  sub \uni1B44 \uni1B4B by \uni1B4B.conj;
  sub \uni1B44 \uni1B0B by \uni1B0B.conj;
  sub \uni1B44 \uni1B0C by \uni1B0C.conj;
  sub \uni1B44 \uni1B0D by \uni1B0D.conj;
  sub \uni1B44 \uni1B0E by \uni1B0E.conj;
} blwfBelowBaseFormsinBalineselookup2;

# sa/zal gempelan
lookup ligaStandardLigaturesinBalineselookup0 {
  lookupflag 0;
  sub \uni1B32.conj by \uni1B38 \uni1B32.conj;
  sub \uni1B4A.conj by \uni1B38 \uni1B4A.conj;
} ligaStandardLigaturesinBalineselookup0;

# tedong ligatures
lookup ligaStandardLigaturesinBalineselookup1 {
  lookupflag 0;
  sub \uni1B13 \uni1B35 by \uni1B13.td;
  sub \uni1B15 \uni1B35 by \uni1B15.td;
  sub \uni1B16 \uni1B35 by \uni1B16.td;
  sub \uni1B18 \uni1B35 by \uni1B18.td;
  sub \uni1B19 \uni1B35 by \uni1B19.td;
  sub \uni1B1B \uni1B35 by \uni1B1B.td;
  sub \uni1B1D \uni1B35 by \uni1B1D.td;
  sub \uni1B1E \uni1B35 by \uni1B1E.td;
  sub \uni1B1F \uni1B35 by \uni1B1F.td;
  sub \uni1B21 \uni1B35 by \uni1B21.td;
  sub \uni1B22 \uni1B35 by \uni1B22.td;
  sub \uni1B23 \uni1B35 by \uni1B23.td;
  sub \uni1B24 \uni1B35 by \uni1B24.td;
  sub \uni1B25 \uni1B35 by \uni1B25.td;
  sub \uni1B26 \uni1B35 by \uni1B26.td;
  sub \uni1B27 \uni1B35 by \uni1B27.td;
  sub \uni1B2A \uni1B35 by \uni1B2A.td;
  sub \uni1B2B \uni1B35 by \uni1B2B.td;
  sub \uni1B2C \uni1B35 by \uni1B2C.td;
  sub \uni1B2D \uni1B35 by \uni1B2D.td;
  sub \uni1B2E \uni1B35 by \uni1B2E.td;
  sub \uni1B2F \uni1B35 by \uni1B2F.td;
  sub \uni1B30 \uni1B35 by \uni1B30.td;
  sub \uni1B31 \uni1B35 by \uni1B31.td;
  sub \uni1B32 \uni1B35 by \uni1B32.td;
  sub \uni1B33 \uni1B35 by \uni1B33.td;
  sub \uni1B45 \uni1B35 by \uni1B45.td;
  sub \uni1B46 \uni1B35 by \uni1B46.td;
  sub \uni1B47 \uni1B35 by \uni1B47.td;
  sub \uni1B48 \uni1B35 by \uni1B48.td;
  sub \uni1B49 \uni1B35 by \uni1B49.td;
  sub \uni1B4A \uni1B35 by \uni1B4A.td;
  sub \uni1B4B \uni1B35 by \uni1B4B.td;
  sub \uni1B23.conj \uni1B2C.conj.1 \uni1B35 by \uni1B23.conj.ya.td;
  sub \uni1B26.conj \uni1B2C.conj.1 \uni1B35 by \uni1B26.conj.ya.td;
  sub \uni1B2C.conj.1 \uni1B35 by \uni1B2C.conj.td.1;
  sub \uni1B2D.conj.1 \uni1B2C.conj.1 \uni1B35 by \uni1B2D.conj.ya.td;
  sub \uni1B2F.conj.1 \uni1B2C.conj.1 \uni1B35 by \uni1B2F.conj.ya.td;
  sub \uni1B1B.conj \uni1B35 by \uni1B1B.conj.td;
  sub [\uni1B27.conj \uni1B32.conj ] \uni1B35 by \uni1B27.conj.td;
  sub \uni1B31.conj \uni1B35 by \uni1B31.conj.td;
  sub [\uni1B48.conj \uni1B4A.conj ] \uni1B35 by \uni1B48.conj.td;
  sub \uni1B49.conj \uni1B2C.conj.1 \uni1B35 by \uni1B49.conj.ya.td;
} ligaStandardLigaturesinBalineselookup1;

lookup SingleSubstitutionlookup3 {
  lookupflag 0;
  sub \uni1B2E.conj.1 by \uni1B2E.conj.3 ;
  sub \uni1B2F.conj.1 by \uni1B2F.conj.2 ;
} SingleSubstitutionlookup3;

lookup SingleSubstitutionlookup4 {
  lookupflag 0;
  sub \uni1B38 by \uni1B38.4 ;
  sub \uni1B39 by \uni1B39.4 ;
} SingleSubstitutionlookup4;

# second-stack la/wa + suku; ja/ja jera variants
lookup ligaStandardLigaturesinBalineselookup2 {
  lookupflag 0;

  sub @conj_below_simple [\uni1B2E.conj.1 \uni1B2F.conj.1 ]' lookup SingleSubstitutionlookup3 [\uni1B38 \uni1B39 ]' lookup SingleSubstitutionlookup4;

  {% if font != 'vimala' %}
  sub \uni1B1A' [\uni1B23.conj \uni1B26.conj \uni1B2F.conj.1 \uni1B32.conj \uni1B38 \uni1B49.conj ] by \uni1B1A.2;
  {% endif %}

  sub \uni1B1B' @conj_below by \uni1B1B.2;
} ligaStandardLigaturesinBalineselookup2;

# second-stack before suku/wa/ya; third-stack suku
lookup ligaStandardLigaturesinBalineselookup3 {
  lookupflag UseMarkFilteringSet @mark_below;

  sub [\uni1B16.conj.1 \uni1B19.conj.1 \uni1B21.conj.1 \uni1B29.conj.1
  \uni1B2E.conj.1 ]' [\uni1B38 \uni1B39 \uni1B2F.conj.1 \uni1B2C.conj.1 ] by [\uni1B16.conj.2 \uni1B19.conj.2
  \uni1B21.conj.2 \uni1B29.conj.2 \uni1B2E.conj.2 ];

  sub [\uni1B13.conj \uni1B14.conj \uni1B15.conj \uni1B16.conj.2 \uni1B17.conj
  \uni1B18.conj \uni1B19.conj.2 \uni1B1A.conj \uni1B1C.conj
  \uni1B1D.conj \uni1B1E.conj \uni1B1F.conj \uni1B20.conj
  \uni1B21.conj.2 \uni1B22.conj \uni1B24.conj \uni1B25.conj
  \uni1B29.conj.2 \uni1B2A.conj \uni1B2B.conj \uni1B2E.conj.2
  \uni1B30.conj \uni1B33.conj \uni1B45.conj \uni1B46.conj
  \uni1B47.conj \uni1B4B.conj ] [\uni1B38 \uni1B39 ]' by [\uni1B38.2 \uni1B39.2 ];

  sub [\uni1B1B \uni1B1B.conj \uni1B23.conj \uni1B2D.conj.1 \uni1B2F.conj.1 \uni1B49.conj ] [\uni1B38 \uni1B39 ]' by [\uni1B38.3 \uni1B39.3 ];
} ligaStandardLigaturesinBalineselookup3;

# second-stack suku ligatures
lookup ligaStandardLigaturesinBalineselookup4 {
  lookupflag UseMarkFilteringSet @mark_below;
  
  {% if font != 'vimala' %}
  sub \uni1B1A.conj \uni1B38.2 by \uni1B1A.conj.u;
  sub \uni1B24.conj \uni1B38.2 by \uni1B24.conj.u;
  {% endif %}

  sub \uni1B26.conj \uni1B38 by \uni1B26.conj.u;
  sub \uni1B26.conj \uni1B39 by \uni1B26.conj.uu;
  sub \uni1B2C.conj.1 \uni1B38 by \uni1B2C.conj.u.1;
  sub \uni1B2C.conj.1 \uni1B39 by \uni1B2C.conj.uu.1;
} ligaStandardLigaturesinBalineselookup4;

@reorder_filter = [@mark_above \_reorder ];

{% set reorder_lookup = 'ligaStandardLigaturesinBalineselookup5_1' %}{% include 'reorder.fea.j2' %}


{% set reorder_lookup = 'ligaStandardLigaturesinBalineselookup5_2' %}{% include 'reorder.fea.j2' %}


{% set reorder_lookup = 'ligaStandardLigaturesinBalineselookup5_3' %}{% include 'reorder.fea.j2' %}


# combining mark above ligatures
lookup ligaStandardLigaturesinBalineselookup5 {
  lookupflag UseMarkFilteringSet @mark_above;

  sub \uni1B34 \uni1B02 by \uni1B34_uni1B02;
  sub \uni1B34 \uni1B03 by \uni1B34_uni1B03;
  sub \uni1B34 \uni1B36 by \uni1B34_uni1B36;
  sub \uni1B34 \uni1B36 \uni1B02 by \uni1B34_uni1B36_uni1B02;
  sub \uni1B34 \uni1B36 \uni1B03 by \uni1B34_uni1B36_uni1B03;
  sub \uni1B34 \uni1B37 by \uni1B34_uni1B37;
  sub \uni1B34 \uni1B37 \uni1B02 by \uni1B34_uni1B37_uni1B02;
  sub \uni1B34 \uni1B37 \uni1B03 by \uni1B34_uni1B37_uni1B03;
  sub \uni1B34 \uni1B42 by \uni1B34_uni1B42;
  sub \uni1B34 \uni1B42 \uni1B02 by \uni1B34_uni1B42_uni1B02;
  sub \uni1B34 \uni1B42 \uni1B03 by \uni1B34_uni1B42_uni1B03;

  sub \uni1B36 \uni1B00 by \uni1B36_uni1B00;
  sub \uni1B36 \uni1B01 by \uni1B36_uni1B01;
  sub \uni1B36 \uni1B02 by \uni1B36_uni1B02;
  sub \uni1B36 \uni1B03 by \uni1B36_uni1B03;
  sub \uni1B36 \uni1B02 \uni1B03 by \uni1B36_uni1B02_uni1B03;
  sub \uni1B36 \uni1B03 \uni1B02 by \uni1B36_uni1B02_uni1B03;
  
  sub \uni1B37 \uni1B00 by \uni1B37_uni1B00;
  sub \uni1B37 \uni1B01 by \uni1B37_uni1B01;
  sub \uni1B37 \uni1B02 by \uni1B37_uni1B02;
  sub \uni1B37 \uni1B03 by \uni1B37_uni1B03;
  sub \uni1B37 \uni1B02 \uni1B03 by \uni1B37_uni1B02_uni1B03;
  sub \uni1B37 \uni1B03 \uni1B02 by \uni1B37_uni1B02_uni1B03;

  sub \uni1B42 \uni1B02 by \uni1B42_uni1B02;
  sub \uni1B42 \uni1B03 by \uni1B42_uni1B03;
  sub \uni1B42 \uni1B02 \uni1B03 by \uni1B42_uni1B02_uni1B03;
  sub \uni1B42 \uni1B03 \uni1B02 by \uni1B42_uni1B02_uni1B03;

  sub \uni1B02 \uni1B03 by \uni1B02_uni1B03;
  sub \uni1B03 \uni1B02 by \uni1B02_uni1B03;
} ligaStandardLigaturesinBalineselookup5;

# conjunct + ya/wa/ra (+ suku) ligatures
lookup ligaStandardLigaturesinBalineselookup6 {
  lookupflag 0;

  sub \uni1B23.conj \uni1B2C.conj.1 by \uni1B23.conj.ya;
  sub \uni1B23.conj \uni1B2C.conj.u.1 by \uni1B23.conj.ya.u;
  sub \uni1B23.conj \uni1B2C.conj.uu.1 by \uni1B23.conj.ya.uu;
  sub \uni1B23.conj \uni1B2D.conj.1 by \uni1B23.conj.ra;

  sub \uni1B26.conj \uni1B2C.conj.1 by \uni1B26.conj.ya;
  sub \uni1B26.conj \uni1B2C.conj.u.1 by \uni1B26.conj.ya.u;
  sub \uni1B26.conj \uni1B2C.conj.uu.1 by \uni1B26.conj.ya.uu;

  sub \uni1B2D.conj.1 \uni1B2C.conj.1 by \uni1B2D.conj.ya;
  sub \uni1B2D.conj.1 \uni1B2C.conj.u.1 by \uni1B2D.conj.ya.u;
  sub \uni1B2D.conj.1 \uni1B2C.conj.uu.1 by \uni1B2D.conj.ya.uu;
  sub \uni1B2D.conj.1 \uni1B2F.conj.1 by \uni1B2D.conj.wa;
  
  sub \uni1B2F.conj.1 \uni1B2C.conj.1 by \uni1B2F.conj.ya;
  sub \uni1B2F.conj.1 \uni1B2C.conj.u.1 by \uni1B2F.conj.ya.u;
  sub \uni1B2F.conj.1 \uni1B2C.conj.uu.1 by \uni1B2F.conj.ya.uu;
  sub \uni1B2F.conj.1 \uni1B2D.conj.1 by \uni1B2F.conj.ra;
  sub \uni1B2F.conj.1 [\uni1B2F.conj.1 \uni1B2F.conj.2 ] by \uni1B2F.conj.wa;

  sub \uni1B49.conj \uni1B2C.conj.1 by \uni1B49.conj.ya;
  sub \uni1B49.conj \uni1B2C.conj.u.1 by \uni1B49.conj.ya.u;
  sub \uni1B49.conj \uni1B2C.conj.uu.1 by \uni1B49.conj.ya.uu;
  sub \uni1B49.conj \uni1B2D.conj.1 by \uni1B49.conj.ra;

} ligaStandardLigaturesinBalineselookup6;

# third-stack variants; second-stack ra repa width
lookup ligaStandardLigaturesinBalineselookup7 {
  lookupflag 0;

  {% if font == 'vimala' %}
  sub @conj_below_narrow [\uni1B3A \uni1B2D.conj.1 ]' by [\uni1B3A.4 \uni1B2D.conj.4 ];
  {% endif %}

  sub @conj_below_simple [\uni1B2C.conj.1 \uni1B2D.conj.1 \uni1B2D.conj.ya \uni1B2D.conj.wa
  \uni1B2E.conj.1 \uni1B2E.conj.2 \uni1B2F.conj.1 \uni1B2C.conj.u.1
  \uni1B2C.conj.uu.1 \uni1B2C.conj.td.1 \uni1B2D.conj.ya.td
  \uni1B2D.conj.ya.u \uni1B2D.conj.ya.uu \uni1B3A \uni1B3C.blw  ]' by [\uni1B2C.conj.2 \uni1B2D.conj.3
  \uni1B2D.conj.3.ya \uni1B2D.conj.3.wa \uni1B2E.conj.3 \uni1B2E.conj.3
  \uni1B2F.conj.2 \uni1B2C.conj.u.2 \uni1B2C.conj.uu.2 \uni1B2C.conj.td.2
  \uni1B2D.conj.3.ya.td \uni1B2D.conj.3.ya.u \uni1B2D.conj.3.ya.uu \uni1B3A.3 \uni1B2E.conj.3 ];

  sub [\uni1B18 \uni1B1A \uni1B1F \uni1B20 \uni1B23 \uni1B24 \uni1B26 \uni1B27 \uni1B28
  \uni1B2B \uni1B2D \uni1B2F \uni1B31 \uni1B32 \uni1B48 \uni1B49 \uni1B4A
  \uni1B27.conj \uni1B28.conj \uni1B31.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj ] [\uni1B3A ]' by [\uni1B3A.2 ];
  
} ligaStandardLigaturesinBalineselookup7;

{% set reorder_lookup = 'ligaStandardLigaturesinBalineselookup8_1' %}{% include 'reorder.fea.j2' %}


{% set reorder_lookup = 'ligaStandardLigaturesinBalineselookup8_2' %}{% include 'reorder.fea.j2' %}


{% set reorder_lookup = 'ligaStandardLigaturesinBalineselookup8_3' %}{% include 'reorder.fea.j2' %}


# conjunct ra ligatures
lookup ligaStandardLigaturesinBalineselookup9 {
  lookupflag UseMarkFilteringSet @mark_below;
  sub \uni1B13 \uni1B2D.conj.1 by \uni1B13.ra;
  sub \uni1B14 \uni1B2D.conj.1 by \uni1B14.ra;
  sub \uni1B15 \uni1B2D.conj.1 by \uni1B15.ra;
  sub \uni1B16 \uni1B2D.conj.1 by \uni1B16.ra;
  sub \uni1B17 \uni1B2D.conj.1 by \uni1B17.ra;
  sub \uni1B18 \uni1B2D.conj.1 by \uni1B18.ra;
  sub \uni1B19 \uni1B2D.conj.1 by \uni1B19.ra;
  sub \uni1B1A \uni1B2D.conj.1 by \uni1B1A.ra;
  sub \uni1B1B.2 \uni1B2D.conj.1 by \uni1B1B.ra;
  sub \uni1B1C \uni1B2D.conj.1 by \uni1B1C.ra;
  sub \uni1B1D \uni1B2D.conj.1 by \uni1B1D.ra;
  sub \uni1B1E \uni1B2D.conj.1 by \uni1B1E.ra;
  sub \uni1B1F \uni1B2D.conj.1 by \uni1B1F.ra;
  sub \uni1B20 \uni1B2D.conj.1 by \uni1B20.ra;
  sub \uni1B21 \uni1B2D.conj.1 by \uni1B21.ra;
  sub \uni1B22 \uni1B2D.conj.1 by \uni1B22.ra;
  sub \uni1B23 \uni1B2D.conj.1 by \uni1B23.ra;
  sub \uni1B24 \uni1B2D.conj.1 by \uni1B24.ra;
  sub \uni1B25 \uni1B2D.conj.1 by \uni1B25.ra;
  sub \uni1B26 \uni1B2D.conj.1 by \uni1B26.ra;
  sub \uni1B27 \uni1B2D.conj.1 by \uni1B27.ra;
  sub \uni1B28 \uni1B2D.conj.1 by \uni1B28.ra;
  sub \uni1B29 \uni1B2D.conj.1 by \uni1B29.ra;
  sub \uni1B2A \uni1B2D.conj.1 by \uni1B2A.ra;
  sub \uni1B2B \uni1B2D.conj.1 by \uni1B2B.ra;
  sub \uni1B2C \uni1B2D.conj.1 by \uni1B2C.ra;
  sub \uni1B2D \uni1B2D.conj.1 by \uni1B2D.ra;
  sub \uni1B2E \uni1B2D.conj.1 by \uni1B2E.ra;
  sub \uni1B2F \uni1B2D.conj.1 by \uni1B2F.ra;
  sub \uni1B30 \uni1B2D.conj.1 by \uni1B30.ra;
  sub \uni1B31 \uni1B2D.conj.1 by \uni1B31.ra;
  sub \uni1B32 \uni1B2D.conj.1 by \uni1B32.ra;
  sub \uni1B33 \uni1B2D.conj.1 by \uni1B33.ra;
  sub \uni1B45 \uni1B2D.conj.1 by \uni1B45.ra;
  sub \uni1B46 \uni1B2D.conj.1 by \uni1B46.ra;
  sub \uni1B47 \uni1B2D.conj.1 by \uni1B47.ra;
  sub \uni1B48 \uni1B2D.conj.1 by \uni1B48.ra;
  sub \uni1B49 \uni1B2D.conj.1 by \uni1B49.ra;
  sub \uni1B4A \uni1B2D.conj.1 by \uni1B4A.ra;
  sub \uni1B4B \uni1B2D.conj.1 by \uni1B4B.ra;
  sub [\uni1B27.conj \uni1B32.conj ] \uni1B2D.conj.1 by \uni1B27.conj.ra;
  sub \uni1B28.conj \uni1B2D.conj.1 by \uni1B28.conj.ra;
  sub \uni1B31.conj \uni1B2D.conj.1 by \uni1B31.conj.ra;
  sub [\uni1B48.conj \uni1B4A.conj ] \uni1B2D.conj.1 by \uni1B48.conj.ra;
} ligaStandardLigaturesinBalineselookup9;

feature ccmp {
  lookup ccmpGlyphCompositionDecompositioninBalineselookup1;
  lookup ccmpGlyphCompositionDecompositioninBalineselookup2;
} ccmp;

feature rphf {
  script bali;
  language KAW exclude_dflt;
  lookup rphfRephForminBalineselookup1;
} rphf;

feature blwf {
  lookup blwfBelowBaseFormsinBalineselookup2;
} blwf;

feature liga {
  lookup ligaStandardLigaturesinBalineselookup0;
  lookup ligaStandardLigaturesinBalineselookup1;
  lookup ligaStandardLigaturesinBalineselookup2;
  lookup ligaStandardLigaturesinBalineselookup3;
  lookup ligaStandardLigaturesinBalineselookup4;

  lookup ligaStandardLigaturesinBalineselookup5_1_1;
  lookup ligaStandardLigaturesinBalineselookup5_1_2;
  lookup ligaStandardLigaturesinBalineselookup5_2_1;
  lookup ligaStandardLigaturesinBalineselookup5_2_2;
  lookup ligaStandardLigaturesinBalineselookup5_3_1;
  lookup ligaStandardLigaturesinBalineselookup5_3_2;

  lookup ligaStandardLigaturesinBalineselookup5;
  lookup ligaStandardLigaturesinBalineselookup6;
  lookup ligaStandardLigaturesinBalineselookup7;

  lookup ligaStandardLigaturesinBalineselookup8_1_1;
  lookup ligaStandardLigaturesinBalineselookup8_1_2;
  lookup ligaStandardLigaturesinBalineselookup8_2_1;
  lookup ligaStandardLigaturesinBalineselookup8_2_2;
  lookup ligaStandardLigaturesinBalineselookup8_3_1;
  lookup ligaStandardLigaturesinBalineselookup8_3_2;

  lookup ligaStandardLigaturesinBalineselookup9;
} liga;
