{% include 'left2_' ~ font ~ '.fea.j2' %}

# third-stack ra/ra repa (cakra) spacing adjustment
lookup distDistanceinBalineselookup5 {
  lookupflag UseMarkFilteringSet @mark_below;

  {% include 'left2_rules_' ~ font ~ '.fea.j2' %}


} distDistanceinBalineselookup5;
