# mark-to-base: combining mark above except surang; combining endep below
lookup markMarkPositioninginBalineselookup1 {
  lookupflag 0;
  markClass [\uni1B00 ] <anchor -366 505> @Anchor2;
  markClass [\uni1B01 ] <anchor -274 494> @Anchor2;
  markClass [\uni1B02 ] <anchor -225 502> @Anchor2;
  markClass [\uni1B34 ] <anchor -341 530> @Anchor2;
  markClass [\uni1B34_uni1B02 ] <anchor -253 511> @Anchor2;
  markClass [\uni1B34_uni1B03 ] <anchor -264 509> @Anchor2;
  markClass [\uni1B34_uni1B36 \uni1B34_uni1B37 ] <anchor -440 510> @Anchor2;
  markClass [\uni1B34_uni1B36_uni1B02 \uni1B34_uni1B37_uni1B02 ] <anchor -462 503> @Anchor2;
  markClass [\uni1B34_uni1B36_uni1B03 \uni1B34_uni1B37_uni1B03 ] <anchor -512 508> @Anchor2;
  markClass [\uni1B34_uni1B42 \uni1B34_uni1B42_uni1B03 ] <anchor -369 502> @Anchor2;
  markClass [\uni1B34_uni1B42_uni1B02 ] <anchor -458 509> @Anchor2;
  markClass [\uni1B36 \uni1B37 ] <anchor -360 512> @Anchor2;
  markClass [\uni1B36_uni1B00 \uni1B36_uni1B01 \uni1B37_uni1B00 \uni1B37_uni1B01 ] <anchor -378 517> @Anchor2;
  markClass [\uni1B36_uni1B02 \uni1B36_uni1B02_uni1B03 \uni1B37_uni1B02 \uni1B37_uni1B02_uni1B03 ] <anchor -445 503> @Anchor2;
  markClass [\uni1B36_uni1B03 \uni1B37_uni1B03 ] <anchor -411 504> @Anchor2;
  markClass [\uni1B42 ] <anchor -316 504> @Anchor2;
  markClass [\uni1B42_uni1B02 \uni1B42_uni1B02_uni1B03 ] <anchor -416 499> @Anchor2;
  markClass [\uni1B42_uni1B03 ] <anchor -446 499> @Anchor2;
  markClass [\uni1B6B ] <anchor -182 461> @Anchor2;
  markClass [\uni1B6D ] <anchor -275 475> @Anchor2;
  markClass [\uni1B6E ] <anchor -253 594> @Anchor2;
  markClass [\uni1B6F ] <anchor -278 489> @Anchor2;
  markClass [\uni1B70 ] <anchor -276 475> @Anchor2;
  markClass [\uni1B71 ] <anchor -272 492> @Anchor2;
  markClass [\uni1B72 ] <anchor -276 486> @Anchor2;
  markClass [\uni1B73 ] <anchor -250 487> @Anchor2;

  pos base [\uni1B05 ] <anchor 264 490> mark @Anchor2;
  pos base [\uni1B06 ] <anchor 494 490> mark @Anchor2;
  pos base [\uni1B07 ] <anchor 317 490> mark @Anchor2;
  pos base [\uni1B08 ] <anchor 427 490> mark @Anchor2;
  pos base [\uni1B09 \uni1B0A ] <anchor 371 490> mark @Anchor2;
  pos base [\uni1B0B \uni1B0C \uni1B45.td ] <anchor 337 490> mark @Anchor2;
  pos base [\uni1B0B.conj \uni1B0C.conj \uni1B27.conj \uni1B31.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj ] <anchor 292 490> mark @Anchor2;
  pos base [\uni1B0D ] <anchor 328 490> mark @Anchor2;
  pos base [\uni1B0E ] <anchor 338 490> mark @Anchor2;
  pos base [\uni1B0F \uni1B56 ] <anchor 344 499> mark @Anchor2;
  pos base [\uni1B10 ] <anchor 356 490> mark @Anchor2;
  pos base [\uni1B11 \uni1B14.ra ] <anchor 360 490> mark @Anchor2;
  pos base [\uni1B12 \uni1B14 ] <anchor 380 490> mark @Anchor2;
  pos base [\uni1B13 ] <anchor 476 490> mark @Anchor2;
  pos base [\uni1B13.ra ] <anchor 366 490> mark @Anchor2;
  pos base [\uni1B13.td \uni1B1A.ra \uni1B1E.td \uni1B30.ra ] <anchor 344 490> mark @Anchor2;
  pos base [\uni1B15 \uni1B1D ] <anchor 426 490> mark @Anchor2;
  pos base [\uni1B15.ra ] <anchor 326 490> mark @Anchor2;
  pos base [\uni1B15.td ] <anchor 385 490> mark @Anchor2;
  pos base [\uni1B16 ] <anchor 539 490> mark @Anchor2;
  pos base [\uni1B16.ra ] <anchor 499 490> mark @Anchor2;
  pos base [\uni1B16.td ] <anchor 497 490> mark @Anchor2;
  pos base [\uni1B17 \uni1B47 ] <anchor 453 490> mark @Anchor2;
  pos base [\uni1B17.ra \uni1B2D ] <anchor 333 490> mark @Anchor2;
  pos base [\uni1B18 ] <anchor 347 490> mark @Anchor2;
  pos base [\uni1B18.ra ] <anchor 357 490> mark @Anchor2;
  pos base [\uni1B18.td ] <anchor 321 490> mark @Anchor2;
  pos base [\uni1B19 ] <anchor 463 490> mark @Anchor2;
  pos base [\uni1B19.ra \uni1B29.ra \uni1B32.ra ] <anchor 353 490> mark @Anchor2;
  pos base [\uni1B19.td ] <anchor 284 490> mark @Anchor2;
  pos base [\uni1B1A ] <anchor 354 490> mark @Anchor2;
  pos base [\uni1B1B \uni1B1B.2 ] <anchor 382 500> mark @Anchor2;
  pos base [\uni1B1B.ra ] <anchor 322 500> mark @Anchor2;
  pos base [\uni1B1B.td ] <anchor 384 490> mark @Anchor2;
  pos base [\uni1B1C \uni1B1C.ra ] <anchor 477 490> mark @Anchor2;
  pos base [\uni1B1D.ra ] <anchor 316 490> mark @Anchor2;
  pos base [\uni1B1D.td ] <anchor 318 490> mark @Anchor2;
  pos base [\uni1B1E ] <anchor 440 490> mark @Anchor2;
  pos base [\uni1B1E.ra \uni1B22.td ] <anchor 340 490> mark @Anchor2;
  pos base [\uni1B1F ] <anchor 398 484> mark @Anchor2;
  pos base [\uni1B1F.ra ] <anchor 308 490> mark @Anchor2;
  pos base [\uni1B1F.td ] <anchor 386 470> mark @Anchor2;
  pos base [\uni1B20 ] <anchor 308 501> mark @Anchor2;
  pos base [\uni1B20.ra ] <anchor 258 490> mark @Anchor2;
  pos base [\uni1B21 ] <anchor 430 490> mark @Anchor2;
  pos base [\uni1B21.ra ] <anchor 400 490> mark @Anchor2;
  pos base [\uni1B21.td ] <anchor 346 490> mark @Anchor2;
  pos base [\uni1B22 \uni1B45 ] <anchor 475 490> mark @Anchor2;
  pos base [\uni1B22.ra ] <anchor 355 490> mark @Anchor2;
  pos base [\uni1B23 \uni1B2F.ra ] <anchor 362 490> mark @Anchor2;
  pos base [\uni1B23.ra ] <anchor 312 490> mark @Anchor2;
  pos base [\uni1B23.td \uni1B2E.td ] <anchor 295 490> mark @Anchor2;
  pos base [\uni1B24 ] <anchor 370 490> mark @Anchor2;
  pos base [\uni1B24.ra \uni1B25 ] <anchor 320 490> mark @Anchor2;
  pos base [\uni1B24.td ] <anchor 298 490> mark @Anchor2;
  pos base [\uni1B25.ra ] <anchor 300 490> mark @Anchor2;
  pos base [\uni1B25.td \uni1B2D.td ] <anchor 323 490> mark @Anchor2;
  pos base [\uni1B26 ] <anchor 314 490> mark @Anchor2;
  pos base [\uni1B26.ra \uni1B2F.td ] <anchor 304 490> mark @Anchor2;
  pos base [\uni1B26.td ] <anchor 329 490> mark @Anchor2;
  pos base [\uni1B27 \uni1B27.ra ] <anchor 286 490> mark @Anchor2;
  pos base [\uni1B27.conj.ra ] <anchor 242 490> mark @Anchor2;
  pos base [\uni1B27.td ] <anchor 327 490> mark @Anchor2;
  pos base [\uni1B28 \uni1B48.ra ] <anchor 281 490> mark @Anchor2;
  pos base [\uni1B28.conj ] <anchor 212 503> mark @Anchor2;
  pos base [\uni1B28.conj.ra ] <anchor 232 503> mark @Anchor2;
  pos base [\uni1B28.ra ] <anchor 291 490> mark @Anchor2;
  pos base [\uni1B29 ] <anchor 383 490> mark @Anchor2;
  pos base [\uni1B2A \uni1B2C ] <anchor 372 490> mark @Anchor2;
  pos base [\uni1B2A.ra ] <anchor 342 490> mark @Anchor2;
  pos base [\uni1B2A.td ] <anchor 290 490> mark @Anchor2;
  pos base [\uni1B2B ] <anchor 299 490> mark @Anchor2;
  pos base [\uni1B2B.ra ] <anchor 309 490> mark @Anchor2;
  pos base [\uni1B2B.td ] <anchor 288 490> mark @Anchor2;
  pos base [\uni1B2C.ra ] <anchor 352 490> mark @Anchor2;
  pos base [\uni1B2C.td ] <anchor 387 490> mark @Anchor2;
  pos base [\uni1B2D.ra ] <anchor 313 490> mark @Anchor2;
  pos base [\uni1B2E ] <anchor 402 490> mark @Anchor2;
  pos base [\uni1B2E.ra ] <anchor 412 490> mark @Anchor2;
  pos base [\uni1B2F \uni1B33.td ] <anchor 332 490> mark @Anchor2;
  pos base [\uni1B30 ] <anchor 334 490> mark @Anchor2;
  pos base [\uni1B30.td ] <anchor 381 490> mark @Anchor2;
  pos base [\uni1B31 \uni1B31.ra ] <anchor 303 490> mark @Anchor2;
  pos base [\uni1B31.conj.ra \uni1B48.conj.ra ] <anchor 222 490> mark @Anchor2;
  pos base [\uni1B31.td ] <anchor 310 490> mark @Anchor2;
  pos base [\uni1B32 ] <anchor 393 490> mark @Anchor2;
  pos base [\uni1B32.td ] <anchor 331 490> mark @Anchor2;
  pos base [\uni1B33 ] <anchor 438 490> mark @Anchor2;
  pos base [\uni1B33.ra ] <anchor 358 490> mark @Anchor2;
  pos base [\uni1B45.ra ] <anchor 375 490> mark @Anchor2;
  pos base [\uni1B46 ] <anchor 679 490> mark @Anchor2;
  pos base [\uni1B46.ra ] <anchor 599 490> mark @Anchor2;
  pos base [\uni1B46.td ] <anchor 627 490> mark @Anchor2;
  pos base [\uni1B47.ra ] <anchor 593 490> mark @Anchor2;
  pos base [\uni1B47.td \uni1B49 ] <anchor 330 490> mark @Anchor2;
  pos base [\uni1B48 ] <anchor 341 490> mark @Anchor2;
  pos base [\uni1B48.td ] <anchor 271 490> mark @Anchor2;
  pos base [\uni1B49.ra ] <anchor 280 490> mark @Anchor2;
  pos base [\uni1B49.td ] <anchor 254 490> mark @Anchor2;
  pos base [\uni1B4A \uni1B4A.ra ] <anchor 390 490> mark @Anchor2;
  pos base [\uni1B4A.td ] <anchor 322 490> mark @Anchor2;
  pos base [\uni1B4B ] <anchor 716 490> mark @Anchor2;
  pos base [\uni1B4B.ra ] <anchor 626 490> mark @Anchor2;
  pos base [\uni1B4B.td ] <anchor 585 490> mark @Anchor2;
  pos base [\uni1B50 ] <anchor 240 520> mark @Anchor2;
  pos base [\uni1B51 ] <anchor 520 620> mark @Anchor2;
  pos base [\uni1B52 ] <anchor 528 490> mark @Anchor2;
  pos base [\uni1B53 ] <anchor 540 490> mark @Anchor2;
  pos base [\uni1B54 ] <anchor 240 640> mark @Anchor2;
  pos base [\uni1B55 ] <anchor 300 660> mark @Anchor2;
  pos base [\uni1B57 ] <anchor 380 690> mark @Anchor2;
  pos base [\uni1B58 ] <anchor 260 710> mark @Anchor2;
  pos base [\uni1B59 ] <anchor 400 690> mark @Anchor2;
  pos base [\uni1B61 \uni1B65 \uni1B79 \uni1B7B ] <anchor 313 620> mark @Anchor2;
  pos base [\uni1B62 ] <anchor 314 630> mark @Anchor2;
  pos base [\uni1B63 ] <anchor 354 630> mark @Anchor2;
  pos base [\uni1B64 ] <anchor 285 610> mark @Anchor2;
  pos base [\uni1B66 ] <anchor 334 610> mark @Anchor2;
  pos base [\uni1B68 ] <anchor 314 610> mark @Anchor2;
  pos base [\uni1B69 ] <anchor 574 610> mark @Anchor2;
  pos base [\uni1B6A ] <anchor 304 630> mark @Anchor2;
  pos base [\uni1B74 \uni1B76 ] <anchor 294 630> mark @Anchor2;
  pos base [\uni1B75 \uni1B77 \uni1B78 \uni1B7A ] <anchor 305 610> mark @Anchor2;
  pos base [\uni1B7C ] <anchor 298 580> mark @Anchor2;
} markMarkPositioninginBalineselookup1;

# mark-to-base: surang
lookup markMarkPositioninginBalineselookup2 {
  lookupflag UseMarkFilteringSet @surang;

  # vertical adjustment
  pos [\uni1B1B \uni1B1B.2 \uni1B1B.ra ] @surang' <0 100 0 0>;

  # horizontal adjustment
  pos [\uni1B0A ] @surang' <-400 0 0 0>;
  pos [\uni1B08 \uni1B0A \uni1B12 ] @surang' <-450 0 0 0>;
  pos [\uni1B13.td \uni1B16.td \uni1B19.td \uni1B1D.td \uni1B1E.td \uni1B21.td \uni1B22.td \uni1B23.td \uni1B2A.td \uni1B2C.td \uni1B2E.td \uni1B2F.td \uni1B32.td \uni1B45.td \uni1B47.td \uni1B49.td \uni1B4A.td \uni1B4B.td ] @surang' <-300 0 0 0>;
  pos [\uni1B18.td \uni1B25.td \uni1B46.td ] @surang' <-350 0 0 0>;
  pos [\uni1B1B.td ] @surang' <-300 150 0 0>;
  pos [\uni1B15.td \uni1B1F.td \uni1B24.td \uni1B26.td \uni1B27.td \uni1B2B.td \uni1B2D.td \uni1B30.td \uni1B31.td \uni1B33.td \uni1B48.td ] @surang' <-250 0 0 0>;
} markMarkPositioninginBalineselookup2;

# mark-to-base: right-adjoined suku
lookup markMarkPositioninginBalineselookup3 {
  lookupflag 0;
  pos base [\uni1B13.ra \uni1B14.ra \uni1B1B \uni1B1B.ra \uni1B1E.ra \uni1B21.ra \uni1B26.ra \uni1B2E.ra \uni1B45.ra \uni1B47.ra \uni1B48.ra \uni1B4A.ra ] <anchor 634 -453> mark @Anchor3;
  pos base [\uni1B15.ra \uni1B17.ra \uni1B19.ra \uni1B1A.ra \uni1B22.ra \uni1B29.ra \uni1B2C.ra \uni1B2F.ra \uni1B33.ra ] <anchor 584 -453> mark @Anchor3;
  pos base [\uni1B16.ra ] <anchor 734 -453> mark @Anchor3;
  pos base [\uni1B18.ra \uni1B1F.ra ] <anchor 604 -453> mark @Anchor3;
  pos base [\uni1B1C.ra \uni1B1D.ra \uni1B24.ra ] <anchor 594 -453> mark @Anchor3;
  pos base [\uni1B20.ra ] <anchor 504 -453> mark @Anchor3;
  pos base [\uni1B23.ra \uni1B25.ra ] <anchor 554 -453> mark @Anchor3;
  pos base [\uni1B27.conj.ra ] <anchor 464 -453> mark @Anchor3;
  pos base [\uni1B27.ra \uni1B31.ra \uni1B32.ra ] <anchor 564 -453> mark @Anchor3;
  pos base [\uni1B28.conj.ra \uni1B31.conj.ra ] <anchor 474 -453> mark @Anchor3;
  pos base [\uni1B28.ra ] <anchor 524 -453> mark @Anchor3;
  pos base [\uni1B2A.ra \uni1B30.ra \uni1B49.ra ] <anchor 574 -453> mark @Anchor3;
  pos base [\uni1B2B.ra \uni1B2D.ra ] <anchor 544 -453> mark @Anchor3;
  pos base [\uni1B46.ra ] <anchor 824 -453> mark @Anchor3;
  pos base [\uni1B48.conj.ra ] <anchor 484 -453> mark @Anchor3;
  pos base [\uni1B4B.ra ] <anchor 884 -453> mark @Anchor3;
} markMarkPositioninginBalineselookup3;

# mark-to-base: conjuncts
lookup markMarkPositioninginBalineselookup4 {
  lookupflag 0;
  markClass [\uni1B1C.conj ] <anchor -612 0> @Anchor9;
  markClass [\uni1B46.conj ] <anchor -754 0> @Anchor9;
  markClass [\uni1B4B.conj ] <anchor -704 0> @Anchor9;
  pos base [\uni1B13 \uni1B45 ] <anchor 528 0> mark @Anchor9;
  pos base [\uni1B14 ] <anchor 595 0> mark @Anchor9;
  pos base [\uni1B15 \uni1B30 ] <anchor 453 0> mark @Anchor9;
  pos base [\uni1B16 ] <anchor 487 0> mark @Anchor9;
  pos base [\uni1B17 ] <anchor 449 0> mark @Anchor9;
  pos base [\uni1B18 ] <anchor 377 0> mark @Anchor9;
  pos base [\uni1B19 ] <anchor 488 0> mark @Anchor9;
  pos base [\uni1B1A \uni1B1A.2 ] <anchor 407 0> mark @Anchor9;
  pos base [\uni1B1B \uni1B1B.2 ] <anchor 608 0> mark @Anchor9;
  pos base [\uni1B1C ] <anchor 628 0> mark @Anchor9;
  pos base [\uni1B1D \uni1B1E ] <anchor 462 0> mark @Anchor9;
  pos base [\uni1B1F ] <anchor 383 0> mark @Anchor9;
  pos base [\uni1B20 ] <anchor 336 0> mark @Anchor9;
  pos base [\uni1B21 ] <anchor 501 0> mark @Anchor9;
  pos base [\uni1B22 \uni1B47 ] <anchor 432 0> mark @Anchor9;
  pos base [\uni1B23 \uni1B2F \uni1B49 ] <anchor 349 0> mark @Anchor9;
  pos base [\uni1B24 ] <anchor 426 0> mark @Anchor9;
  pos base [\uni1B25 ] <anchor 420 0> mark @Anchor9;
  pos base [\uni1B26 ] <anchor 430 0> mark @Anchor9;
  pos base [\uni1B27 \uni1B31 \uni1B48 ] <anchor 344 0> mark @Anchor9;
  pos base [\uni1B27.conj \uni1B31.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj ] <anchor 279 0> mark @Anchor9;
  pos base [\uni1B28 ] <anchor 302 0> mark @Anchor9;
  pos base [\uni1B28.conj ] <anchor 194 0> mark @Anchor9;
  pos base [\uni1B29 ] <anchor 558 0> mark @Anchor9;
  pos base [\uni1B2A ] <anchor 409 0> mark @Anchor9;
  pos base [\uni1B2B ] <anchor 406 0> mark @Anchor9;
  pos base [\uni1B2C ] <anchor 466 0> mark @Anchor9;
  pos base [\uni1B2D ] <anchor 384 0> mark @Anchor9;
  pos base [\uni1B2E ] <anchor 483 0> mark @Anchor9;
  pos base [\uni1B32 \uni1B4A ] <anchor 403 0> mark @Anchor9;
  pos base [\uni1B33 ] <anchor 469 0> mark @Anchor9;
  pos base [\uni1B46 ] <anchor 749 0> mark @Anchor9;
  pos base [\uni1B4B ] <anchor 699 0> mark @Anchor9;
} markMarkPositioninginBalineselookup4;
