# mark-to-base: combining mark above except surang; combining endep below
lookup markMarkPositioninginBalineselookup1 {
  lookupflag 0;
  markClass [\uni1B00 ] <anchor -315 534> @Anchor2;
  markClass [\uni1B01 ] <anchor -342 493> @Anchor2;
  markClass [\uni1B02 ] <anchor -211 517> @Anchor2;
  markClass [\uni1B34 ] <anchor -495 530> @Anchor2;
  markClass [\uni1B36 \uni1B37 ] <anchor -332 527> @Anchor2;
  markClass [\uni1B42 ] <anchor -246 519> @Anchor2;
  markClass [\uni1B34_uni1B02 ] <anchor -397 530> @Anchor2;
  markClass [\uni1B34_uni1B03 ] <anchor -278 527> @Anchor2;
  markClass [\uni1B34_uni1B36 \uni1B34_uni1B37 ] <anchor -445 535> @Anchor2;
  markClass [\uni1B34_uni1B36_uni1B02 \uni1B34_uni1B37_uni1B02 ] <anchor -536 529> @Anchor2;
  markClass [\uni1B34_uni1B36_uni1B03 \uni1B34_uni1B37_uni1B03 ] <anchor -501 529> @Anchor2;
  markClass [\uni1B34_uni1B42 ] <anchor -364 515> @Anchor2;
  markClass [\uni1B34_uni1B42_uni1B02 ] <anchor -450 509> @Anchor2;
  markClass [\uni1B34_uni1B42_uni1B03 ] <anchor -285 515> @Anchor2;
  markClass [\uni1B36_uni1B00 \uni1B36_uni1B01 \uni1B37_uni1B00 \uni1B37_uni1B01 ] <anchor -358 532> @Anchor2;
  markClass [\uni1B36_uni1B02 \uni1B37_uni1B02 ] <anchor -403 536> @Anchor2;
  markClass [\uni1B36_uni1B03 \uni1B37_uni1B03 ] <anchor -365 533> @Anchor2;
  markClass [\uni1B36_uni1B02_uni1B03 \uni1B37_uni1B02_uni1B03 ] <anchor -418 537> @Anchor2;
  markClass [\uni1B42_uni1B02 ] <anchor -398 515> @Anchor2;
  markClass [\uni1B42_uni1B03 ] <anchor -392 515> @Anchor2;
  markClass [\uni1B42_uni1B02_uni1B03 ] <anchor -382 522> @Anchor2;
  markClass [\uni1B6B ] <anchor -363 666> @Anchor2;
  markClass [\uni1B6D ] <anchor -383 498> @Anchor2;
  markClass [\uni1B6E ] <anchor -355 636> @Anchor2;
  markClass [\uni1B6F ] <anchor -351 503> @Anchor2;
  markClass [\uni1B70 ] <anchor -374 475> @Anchor2;
  markClass [\uni1B71 ] <anchor -380 510> @Anchor2;
  markClass [\uni1B72 ] <anchor -348 508> @Anchor2;
  markClass [\uni1B73 ] <anchor -386 491> @Anchor2;
  markClass [\uni1B6C ] <anchor -353 -137> @Anchor0;

  pos base [\uni1B05 ] <anchor 482 620> mark @Anchor2;
  pos base [\uni1B06 ] <anchor 660 525> mark @Anchor2;
  pos base [\uni1B07 \uni1B08 ] <anchor 437 525> mark @Anchor2;
  pos base [\uni1B09 \uni1B0A \uni1B32.td ] <anchor 331 525> mark @Anchor2;
  pos base [\uni1B0B \uni1B0C ] <anchor 272 525> mark @Anchor2;
  pos base [\uni1B0D \uni1B0E \uni1B52 \uni1B31.ra ] <anchor 443 525> mark @Anchor2;
  pos base [\uni1B0F \uni1B56 ] <anchor 311 535> mark @Anchor2;
  pos base [\uni1B10 \uni1B1B \uni1B1B.2 ] <anchor 477 525> mark @Anchor2;
  pos base [\uni1B11 \uni1B12 \uni1B53 ] <anchor 462 525> mark @Anchor2;
  pos base [\uni1B13 ] <anchor 491 525> mark @Anchor2;
  pos base [\uni1B13.ra ] <anchor 621 525> mark @Anchor2;
  pos base [\uni1B14 \uni1B15.td ] <anchor 410 525> mark @Anchor2;
  pos base [\uni1B14.ra ] <anchor 560 525> mark @Anchor2;
  pos base [\uni1B15 ] <anchor 426 525> mark @Anchor2;
  pos base [\uni1B15.ra \uni1B1D.ra \uni1B1E.ra ] <anchor 546 525> mark @Anchor2;
  pos base [\uni1B16 ] <anchor 489 525> mark @Anchor2;
  pos base [\uni1B16.ra ] <anchor 619 525> mark @Anchor2;
  pos base [\uni1B17 ] <anchor 453 525> mark @Anchor2;
  pos base [\uni1B17.ra ] <anchor 543 525> mark @Anchor2;
  pos base [\uni1B18 ] <anchor 342 525> mark @Anchor2;
  pos base [\uni1B18.ra ] <anchor 452 525> mark @Anchor2;
  pos base [\uni1B19 ] <anchor 488 525> mark @Anchor2;
  pos base [\uni1B19.ra ] <anchor 598 525> mark @Anchor2;
  pos base [\uni1B1A ] <anchor 334 525> mark @Anchor2;
  pos base [\uni1B1A.ra \uni1B21.td ] <anchor 444 525> mark @Anchor2;
  pos base [\uni1B1B.ra ] <anchor 597 525> mark @Anchor2;
  pos base [\uni1B1C \uni1B1C.ra ] <anchor 618 525> mark @Anchor2;
  pos base [\uni1B1D \uni1B1E ] <anchor 466 525> mark @Anchor2;
  pos base [\uni1B1F \uni1B1F.ra ] <anchor 364 515> mark @Anchor2;
  pos base [\uni1B20 ] <anchor 333 517> mark @Anchor2;
  pos base [\uni1B20.ra ] <anchor 453 517> mark @Anchor2;
  pos base [\uni1B21 ] <anchor 517 525> mark @Anchor2;
  pos base [\uni1B21.ra ] <anchor 567 525> mark @Anchor2;
  pos base [\uni1B22 \uni1B2A \uni1B2A.ra ] <anchor 404 525> mark @Anchor2;
  pos base [\uni1B22.ra \uni1B26.ra ] <anchor 524 525> mark @Anchor2;
  pos base [\uni1B23 ] <anchor 301 525> mark @Anchor2;
  pos base [\uni1B23.ra ] <anchor 471 525> mark @Anchor2;
  pos base [\uni1B24 ] <anchor 411 525> mark @Anchor2;
  pos base [\uni1B24.ra ] <anchor 541 525> mark @Anchor2;
  pos base [\uni1B25 ] <anchor 365 525> mark @Anchor2;
  pos base [\uni1B25.ra ] <anchor 475 525> mark @Anchor2;
  pos base [\uni1B26 ] <anchor 384 525> mark @Anchor2;
  pos base [\uni1B27 \uni1B2E.td ] <anchor 310 525> mark @Anchor2;
  pos base [\uni1B27.ra ] <anchor 470 525> mark @Anchor2;
  pos base [\uni1B28 ] <anchor 305 594> mark @Anchor2;
  pos base [\uni1B28.ra ] <anchor 485 525> mark @Anchor2;
  pos base [\uni1B29 ] <anchor 493 525> mark @Anchor2;
  pos base [\uni1B29.ra ] <anchor 623 525> mark @Anchor2;
  pos base [\uni1B2B \uni1B2B.ra ] <anchor 379 525> mark @Anchor2;
  pos base [\uni1B2B.ra ] <anchor 469 525> mark @Anchor2;
  pos base [\uni1B2C \uni1B2F.ra ] <anchor 442 525> mark @Anchor2;
  pos base [\uni1B2C.ra ] <anchor 532 525> mark @Anchor2;
  pos base [\uni1B2D ] <anchor 368 525> mark @Anchor2;
  pos base [\uni1B2D.ra ] <anchor 478 525> mark @Anchor2;
  pos base [\uni1B2E ] <anchor 472 525> mark @Anchor2;
  pos base [\uni1B2E.ra ] <anchor 612 525> mark @Anchor2;
  pos base [\uni1B2F ] <anchor 312 525> mark @Anchor2;
  pos base [\uni1B30 ] <anchor 429 525> mark @Anchor2;
  pos base [\uni1B30.ra ] <anchor 569 525> mark @Anchor2;
  pos base [\uni1B31 ] <anchor 303 525> mark @Anchor2;
  pos base [\uni1B32 ] <anchor 373 525> mark @Anchor2;
  pos base [\uni1B32.ra ] <anchor 473 525> mark @Anchor2;
  pos base [\uni1B33 ] <anchor 448 525> mark @Anchor2;
  pos base [\uni1B33.ra ] <anchor 558 525> mark @Anchor2;
  pos base [\uni1B45 ] <anchor 483 525> mark @Anchor2;
  pos base [\uni1B45.ra ] <anchor 613 525> mark @Anchor2;
  pos base [\uni1B46 \uni1B46.ra ] <anchor 764 525> mark @Anchor2;
  pos base [\uni1B47 ] <anchor 401 525> mark @Anchor2;
  pos base [\uni1B47.ra ] <anchor 521 525> mark @Anchor2;
  pos base [\uni1B48 \uni1B2B.td ] <anchor 298 525> mark @Anchor2;
  pos base [\uni1B48.ra ] <anchor 438 525> mark @Anchor2;
  pos base [\uni1B49 ] <anchor 296 525> mark @Anchor2;
  pos base [\uni1B49.ra ] <anchor 436 525> mark @Anchor2;
  pos base [\uni1B4A ] <anchor 349 525> mark @Anchor2;
  pos base [\uni1B4A.ra ] <anchor 479 525> mark @Anchor2;
  pos base [\uni1B4B \uni1B4B.ra ] <anchor 736 525> mark @Anchor2;
  pos base [\uni1B50 ] <anchor 230 525> mark @Anchor2;
  pos base [\uni1B51 ] <anchor 470 675> mark @Anchor2;
  pos base [\uni1B54 ] <anchor 230 635> mark @Anchor2;
  pos base [\uni1B55 ] <anchor 290 655> mark @Anchor2;
  pos base [\uni1B57 ] <anchor 380 695> mark @Anchor2;
  pos base [\uni1B58 ] <anchor 260 735> mark @Anchor2;
  pos base [\uni1B59 ] <anchor 380 695> mark @Anchor2;
  pos base [\uni25CC ] <anchor 299 602> mark @Anchor2;

  pos base [\uni1B27.conj \uni1B31.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj \uni1B0B.conj \uni1B0C.conj ] <anchor 292 525> mark @Anchor2;
  pos base [\uni1B27.conj.ra ] <anchor 402 525> mark @Anchor2;
  pos base [\uni1B28.conj ] <anchor 292 591> mark @Anchor2;
  pos base [\uni1B28.conj.ra \uni1B48.conj.ra ] <anchor 392 525> mark @Anchor2;
  pos base [\uni1B31.conj.ra ] <anchor 412 525> mark @Anchor2;
  pos base [\uni1B13.td ] <anchor 364 525> mark @Anchor2;
  pos base [\uni1B16.td ] <anchor 497 525> mark @Anchor2;
  pos base [\uni1B18.td ] <anchor 321 525> mark @Anchor2;
  pos base [\uni1B19.td ] <anchor 274 525> mark @Anchor2;
  pos base [\uni1B1B.td ] <anchor 487 525> mark @Anchor2;
  pos base [\uni1B1D.td ] <anchor 318 525> mark @Anchor2;
  pos base [\uni1B1E.td ] <anchor 344 525> mark @Anchor2;
  pos base [\uni1B1F.td ] <anchor 406 481> mark @Anchor2;
  pos base [\uni1B22.td ] <anchor 360 525> mark @Anchor2;
  pos base [\uni1B23.td ] <anchor 315 525> mark @Anchor2;
  pos base [\uni1B24.td ] <anchor 394 525> mark @Anchor2;
  pos base [\uni1B25.td ] <anchor 338 525> mark @Anchor2;
  pos base [\uni1B26.td ] <anchor 359 525> mark @Anchor2;
  pos base [\uni1B27.td \uni1B2C.td ] <anchor 367 525> mark @Anchor2;
  pos base [\uni1B2A.td ] <anchor 320 525> mark @Anchor2;
  pos base [\uni1B2D.td ] <anchor 313 525> mark @Anchor2;
  pos base [\uni1B2F.td \uni1B48.td ] <anchor 264 525> mark @Anchor2;
  pos base [\uni1B30.td ] <anchor 381 525> mark @Anchor2;
  pos base [\uni1B31.td ] <anchor 305 525> mark @Anchor2;
  pos base [\uni1B33.td ] <anchor 332 525> mark @Anchor2;
  pos base [\uni1B45.td ] <anchor 337 525> mark @Anchor2;
  pos base [\uni1B46.td ] <anchor 766 525> mark @Anchor2;
  pos base [\uni1B47.td ] <anchor 299 525> mark @Anchor2;
  pos base [\uni1B49.td ] <anchor 254 525> mark @Anchor2;
  pos base [\uni1B4A.td ] <anchor 322 525> mark @Anchor2;
  pos base [\uni1B4B.td ] <anchor 585 525> mark @Anchor2;

  pos base [\uni1B61 \uni1B65 \uni1B79 \uni1B7B ] <anchor 387 -200> mark @Anchor0 <anchor 378 620> mark @Anchor2;
  pos base [\uni1B62 ] <anchor 418 -1027> mark @Anchor0 <anchor 394 610> mark @Anchor2;
  pos base [\uni1B63 ] <anchor 288 -1027> mark @Anchor0 <anchor 514 610> mark @Anchor2;
  pos base [\uni1B64 ] <anchor 355 -220> mark @Anchor0 <anchor 325 610> mark @Anchor2;
  pos base [\uni1B66 ] <anchor 387 -200> mark @Anchor0 <anchor 364 610> mark @Anchor2;
  pos base [\uni1B67 ] <anchor 456 -90> mark @Anchor0 <anchor 378 610> mark @Anchor2;
  pos base [\uni1B68 \uni1B69 ] <anchor 328 -1027> mark @Anchor0 <anchor 294 610> mark @Anchor2;
  pos base [\uni1B6A ] <anchor 418 -1027> mark @Anchor0 <anchor 364 630> mark @Anchor2;
  pos base [\uni1B74 \uni1B76 ] <anchor 362 -200> mark @Anchor0 <anchor 344 630> mark @Anchor2;
  pos base [\uni1B75 \uni1B77 ] <anchor 355 -220> mark @Anchor0 <anchor 355 610> mark @Anchor2;
  pos base [\uni1B78 \uni1B7A ] <anchor 365 -140> mark @Anchor0 <anchor 365 610> mark @Anchor2;
  pos base [\uni1B7C ] <anchor 354 -100> mark @Anchor0 <anchor 368 610> mark @Anchor2;
} markMarkPositioninginBalineselookup1;

# mark-to-base: surang
lookup markMarkPositioninginBalineselookup2 {
  lookupflag UseMarkFilteringSet @surang;

  # vertical adjustment
  pos [\uni1B1B \uni1B1B.2 \uni1B1B.ra \uni1B28.conj \uni1B28.conj.ra ] @surang' <0 50 0 0>;
  pos [\uni1B28 \uni1B28.ra ] @surang' <0 70 0 0>;

  # horizontal adjustment
  pos [\uni1B06 \uni1B0A \uni1B1F.td \uni1B22.td \uni1B2C.td \uni1B2E.td \uni1B33.td \uni1B46.td \uni1B47.td ] @surang' <-400 30 0 0>;
  pos [\uni1B08 \uni1B0A \uni1B12 \uni1B13.td \uni1B15.td \uni1B21.td \uni1B30.td \uni1B45.td \uni1B4B.td ] @surang' <-450 0 0 0>;
  pos [\uni1B18.td \uni1B1D.td \uni1B1E.td \uni1B23.td \uni1B2F.td \uni1B32.td \uni1B49.td \uni1B4A.td ] @surang' <-300 0 0 0>;
  pos [\uni1B19.td \uni1B24.td \uni1B25.td \uni1B26.td \uni1B2A.td \uni1B2B.td \uni1B2D.td ] @surang' <-350 0 0 0>;
  pos [\uni1B1B.td ] @surang' <-450 50 0 0>;
  pos [\uni1B27.td \uni1B31.td \uni1B48.td ] @surang' <-250 0 0 0>;
} markMarkPositioninginBalineselookup2;

# mark-to-base: right-adjoined suku
lookup markMarkPositioninginBalineselookup3 {
  lookupflag 0;
  pos base [\uni1B1B ] <anchor 1035 -420> mark @Anchor3;
  pos base [\uni1B13.ra ] <anchor 897 -390> mark @Anchor3;
  pos base [\uni1B14.ra ] <anchor 952 -390> mark @Anchor3;
  pos base [\uni1B15.ra ] <anchor 857 -390> mark @Anchor3;
  pos base [\uni1B16.ra ] <anchor 934 -390> mark @Anchor3;
  pos base [\uni1B17.ra ] <anchor 828 -390> mark @Anchor3;
  pos base [\uni1B18.ra ] <anchor 689 -390> mark @Anchor3;
  pos base [\uni1B19.ra ] <anchor 922 -390> mark @Anchor3;
  pos base [\uni1B1A.ra ] <anchor 652 -390> mark @Anchor3;
  pos base [\uni1B1B.ra ] <anchor 1104 -390> mark @Anchor3;
  pos base [\uni1B1C.ra ] <anchor 1166 -390> mark @Anchor3;
  pos base [\uni1B1D.ra ] <anchor 854 -390> mark @Anchor3;
  pos base [\uni1B1E.ra ] <anchor 844 -390> mark @Anchor3;
  pos base [\uni1B1F.ra ] <anchor 696 -390> mark @Anchor3;
  pos base [\uni1B20.ra ] <anchor 653 -390> mark @Anchor3;
  pos base [\uni1B21.ra ] <anchor 903 -390> mark @Anchor3;
  pos base [\uni1B22.ra ] <anchor 794 -390> mark @Anchor3;
  pos base [\uni1B23.ra \uni1B2F.ra ] <anchor 638 -390> mark @Anchor3;
  pos base [\uni1B24.ra ] <anchor 793 -390> mark @Anchor3;
  pos base [\uni1B25.ra ] <anchor 720 -390> mark @Anchor3;
  pos base [\uni1B26.ra ] <anchor 772 -390> mark @Anchor3;
  pos base [\uni1B27.ra \uni1B31.ra \uni1B48.ra ] <anchor 649 -390> mark @Anchor3;
  pos base [\uni1B28.ra ] <anchor 723 -390> mark @Anchor3;
  pos base [\uni1B29.ra ] <anchor 986 -390> mark @Anchor3;
  pos base [\uni1B2A.ra ] <anchor 799 -390> mark @Anchor3;
  pos base [\uni1B2B.ra ] <anchor 693 -390> mark @Anchor3;
  pos base [\uni1B2C.ra ] <anchor 863 -390> mark @Anchor3;
  pos base [\uni1B2D.ra ] <anchor 658 -390> mark @Anchor3;
  pos base [\uni1B2E.ra ] <anchor 927 -390> mark @Anchor3;
  pos base [\uni1B30.ra ] <anchor 847 -390> mark @Anchor3;
  pos base [\uni1B32.ra \uni1B4A.ra ] <anchor 686 -390> mark @Anchor3;
  pos base [\uni1B33.ra ] <anchor 868 -390> mark @Anchor3;
  pos base [\uni1B45.ra ] <anchor 897 -390> mark @Anchor3;
  pos base [\uni1B46.ra ] <anchor 1339 -390> mark @Anchor3;
  pos base [\uni1B47.ra ] <anchor 804 -390> mark @Anchor3;
  pos base [\uni1B49.ra ] <anchor 648 -390> mark @Anchor3;
  pos base [\uni1B4B.ra ] <anchor 1258 -390> mark @Anchor3;
  pos base [\uni1B27.conj.ra ] <anchor 533 -390> mark @Anchor3;
  pos base [\uni1B28.conj.ra ] <anchor 514 -390> mark @Anchor3;
  pos base [\uni1B31.conj.ra ] <anchor 524 -390> mark @Anchor3;
  pos base [\uni1B48.conj.ra ] <anchor 523 -390> mark @Anchor3;
} markMarkPositioninginBalineselookup3;

# mark-to-base: conjuncts
lookup markMarkPositioninginBalineselookup4 {
  lookupflag 0;
  markClass [\uni1B1C.conj ] <anchor -612 0> @Anchor9;
  markClass [\uni1B46.conj ] <anchor -754 0> @Anchor9;
  markClass [\uni1B4B.conj ] <anchor -704 0> @Anchor9;
  pos base [\uni1B13 \uni1B45 ] <anchor 528 0> mark @Anchor9;
  pos base [\uni1B14 ] <anchor 595 0> mark @Anchor9;
  pos base [\uni1B15 \uni1B30 ] <anchor 453 0> mark @Anchor9;
  pos base [\uni1B16 ] <anchor 487 0> mark @Anchor9;
  pos base [\uni1B17 ] <anchor 449 0> mark @Anchor9;
  pos base [\uni1B18 ] <anchor 377 0> mark @Anchor9;
  pos base [\uni1B19 ] <anchor 488 0> mark @Anchor9;
  pos base [\uni1B1A ] <anchor 407 0> mark @Anchor9;
  pos base [\uni1B1B \uni1B1B.2 ] <anchor 608 0> mark @Anchor9;
  pos base [\uni1B1C ] <anchor 628 0> mark @Anchor9;
  pos base [\uni1B1D \uni1B1E ] <anchor 462 0> mark @Anchor9;
  pos base [\uni1B1F ] <anchor 383 0> mark @Anchor9;
  pos base [\uni1B20 ] <anchor 336 0> mark @Anchor9;
  pos base [\uni1B21 ] <anchor 501 0> mark @Anchor9;
  pos base [\uni1B22 \uni1B47 ] <anchor 432 0> mark @Anchor9;
  pos base [\uni1B23 \uni1B2F \uni1B49 ] <anchor 349 0> mark @Anchor9;
  pos base [\uni1B24 ] <anchor 426 0> mark @Anchor9;
  pos base [\uni1B25 ] <anchor 420 0> mark @Anchor9;
  pos base [\uni1B26 ] <anchor 430 0> mark @Anchor9;
  pos base [\uni1B27 \uni1B31 \uni1B48 ] <anchor 344 0> mark @Anchor9;
  pos base [\uni1B28 ] <anchor 302 0> mark @Anchor9;
  pos base [\uni1B29 ] <anchor 558 0> mark @Anchor9;
  pos base [\uni1B2A ] <anchor 409 0> mark @Anchor9;
  pos base [\uni1B2B ] <anchor 406 0> mark @Anchor9;
  pos base [\uni1B2C ] <anchor 466 0> mark @Anchor9;
  pos base [\uni1B2D ] <anchor 384 0> mark @Anchor9;
  pos base [\uni1B2E ] <anchor 483 0> mark @Anchor9;
  pos base [\uni1B32 \uni1B4A ] <anchor 403 0> mark @Anchor9;
  pos base [\uni1B33 ] <anchor 469 0> mark @Anchor9;
  pos base [\uni1B46 ] <anchor 749 0> mark @Anchor9;
  pos base [\uni1B4B ] <anchor 699 0> mark @Anchor9;
  pos base [\uni1B27.conj \uni1B31.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj ] <anchor 279 0> mark @Anchor9;
  pos base [\uni1B28.conj ] <anchor 194 0> mark @Anchor9;
} markMarkPositioninginBalineselookup4;
