# mark-to-base: combining mark above except surang; combining endep below
lookup markMarkPositioninginBalineselookup1 {
  lookupflag 0;
  markClass [\uni1B00 ] <anchor -366 505> @Anchor2;
  markClass [\uni1B01 ] <anchor -274 494> @Anchor2;
  markClass [\uni1B02 ] <anchor -225 502> @Anchor2;
  markClass [\uni1B34 ] <anchor -341 530> @Anchor2;
  markClass [\uni1B36 \uni1B37 ] <anchor -360 512> @Anchor2;
  markClass [\uni1B42 ] <anchor -316 504> @Anchor2;
  markClass [\uni1B34_uni1B02 ] <anchor -253 511> @Anchor2;
  markClass [\uni1B34_uni1B03 ] <anchor -264 509> @Anchor2;
  markClass [\uni1B34_uni1B36 \uni1B34_uni1B37 ] <anchor -440 510> @Anchor2;
  markClass [\uni1B34_uni1B36_uni1B02 \uni1B34_uni1B37_uni1B02 ] <anchor -462 503> @Anchor2;
  markClass [\uni1B34_uni1B36_uni1B03 \uni1B34_uni1B37_uni1B03 ] <anchor -512 508> @Anchor2;
  markClass [\uni1B34_uni1B42 \uni1B34_uni1B42_uni1B03 ] <anchor -369 502> @Anchor2;
  markClass [\uni1B34_uni1B42_uni1B02 ] <anchor -458 509> @Anchor2;
  markClass [\uni1B36_uni1B00 \uni1B36_uni1B01 \uni1B37_uni1B00 \uni1B37_uni1B01 ] <anchor -378 517> @Anchor2;
  markClass [\uni1B36_uni1B02 \uni1B36_uni1B02_uni1B03 \uni1B37_uni1B02 \uni1B37_uni1B02_uni1B03 ] <anchor -445 503> @Anchor2;
  markClass [\uni1B36_uni1B03 \uni1B37_uni1B03 ] <anchor -411 504> @Anchor2;
  markClass [\uni1B42_uni1B02 \uni1B42_uni1B02_uni1B03 ] <anchor -416 499> @Anchor2;
  markClass [\uni1B42_uni1B03 ] <anchor -446 499> @Anchor2;
  markClass [\uni1B6B ] <anchor -182 461> @Anchor2;
  markClass [\uni1B6D ] <anchor -275 475> @Anchor2;
  markClass [\uni1B6E ] <anchor -253 594> @Anchor2;
  markClass [\uni1B6F ] <anchor -278 489> @Anchor2;
  markClass [\uni1B70 ] <anchor -276 475> @Anchor2;
  markClass [\uni1B71 ] <anchor -272 492> @Anchor2;
  markClass [\uni1B72 ] <anchor -276 486> @Anchor2;
  markClass [\uni1B73 ] <anchor -250 487> @Anchor2;
  markClass [\uni1B6C ] <anchor -180 -93> @Anchor0;

  pos base [\uni1B05 \uni1B2A.ra ] <anchor 532 490> mark @Anchor2;
  pos base [\uni1B06 \uni1B0D \uni1B0E \uni1B52 ] <anchor 528 490> mark @Anchor2;
  pos base [\uni1B07 \uni1B08 ] <anchor 427 490> mark @Anchor2;
  pos base [\uni1B09 \uni1B0A ] <anchor 371 490> mark @Anchor2;
  pos base [\uni1B0B \uni1B0C \uni1B45.td ] <anchor 337 490> mark @Anchor2;
  pos base [\uni1B0F \uni1B56 ] <anchor 344 499> mark @Anchor2;
  pos base [\uni1B10 ] <anchor 406 490> mark @Anchor2;
  pos base [\uni1B11 \uni1B12 \uni1B53 ] <anchor 540 490> mark @Anchor2;
  pos base [\uni1B13 ] <anchor 476 490> mark @Anchor2;
  pos base [\uni1B13.ra ] <anchor 626 490> mark @Anchor2;
  pos base [\uni1B14 \uni1B25 ] <anchor 380 490> mark @Anchor2;
  pos base [\uni1B14.ra ] <anchor 580 490> mark @Anchor2;
  pos base [\uni1B15 \uni1B1D ] <anchor 426 490> mark @Anchor2;
  pos base [\uni1B15.ra ] <anchor 576 490> mark @Anchor2;
  pos base [\uni1B16 ] <anchor 539 490> mark @Anchor2;
  pos base [\uni1B16.ra ] <anchor 719 490> mark @Anchor2;
  pos base [\uni1B17 \uni1B47 ] <anchor 453 490> mark @Anchor2;
  pos base [\uni1B17.ra \uni1B32.ra ] <anchor 563 490> mark @Anchor2;
  pos base [\uni1B18 ] <anchor 347 490> mark @Anchor2;
  pos base [\uni1B18.ra \uni1B16.td ] <anchor 497 490> mark @Anchor2;
  pos base [\uni1B19 ] <anchor 463 490> mark @Anchor2;
  pos base [\uni1B19.ra ] <anchor 603 490> mark @Anchor2;
  pos base [\uni1B1A \uni1B1A.2 ] <anchor 354 490> mark @Anchor2;
  pos base [\uni1B1A.ra ] <anchor 494 490> mark @Anchor2;
  pos base [\uni1B1B \uni1B1B.2 ] <anchor 382 500> mark @Anchor2;
  pos base [\uni1B1B.ra ] <anchor 532 500> mark @Anchor2;
  pos base [\uni1B1C ] <anchor 587 490> mark @Anchor2;
  pos base [\uni1B1C.ra ] <anchor 697 490> mark @Anchor2;
  pos base [\uni1B1D.ra ] <anchor 546 490> mark @Anchor2;
  pos base [\uni1B1E ] <anchor 440 490> mark @Anchor2;
  pos base [\uni1B1E.ra ] <anchor 550 490> mark @Anchor2;
  pos base [\uni1B1F ] <anchor 398 484> mark @Anchor2;
  pos base [\uni1B1F.ra ] <anchor 518 490> mark @Anchor2;
  pos base [\uni1B20 ] <anchor 308 501> mark @Anchor2;
  pos base [\uni1B20.ra ] <anchor 498 490> mark @Anchor2;
  pos base [\uni1B21 ] <anchor 461 490> mark @Anchor2;
  pos base [\uni1B21.ra ] <anchor 570 490> mark @Anchor2;
  pos base [\uni1B22 \uni1B45 ] <anchor 475 490> mark @Anchor2;
  pos base [\uni1B22.ra ] <anchor 595 490> mark @Anchor2;
  pos base [\uni1B23 ] <anchor 362 490> mark @Anchor2;
  pos base [\uni1B23.ra ] <anchor 492 490> mark @Anchor2;
  pos base [\uni1B24 ] <anchor 370 490> mark @Anchor2;
  pos base [\uni1B24.ra ] <anchor 500 490> mark @Anchor2;
  pos base [\uni1B25.ra ] <anchor 510 490> mark @Anchor2;
  pos base [\uni1B26 \uni1B1B.td ] <anchor 384 490> mark @Anchor2;
  pos base [\uni1B26.ra ] <anchor 504 490> mark @Anchor2;
  pos base [\uni1B27 ] <anchor 336 490> mark @Anchor2;
  pos base [\uni1B27.ra ] <anchor 526 490> mark @Anchor2;
  pos base [\uni1B28 ] <anchor 281 490> mark @Anchor2;
  pos base [\uni1B28.ra ] <anchor 521 490> mark @Anchor2;
  pos base [\uni1B29 ] <anchor 513 490> mark @Anchor2;
  pos base [\uni1B29.ra ] <anchor 663 490> mark @Anchor2;
  pos base [\uni1B2A ] <anchor 372 490> mark @Anchor2;
  pos base [\uni1B2B ] <anchor 369 490> mark @Anchor2;
  pos base [\uni1B2B.ra ] <anchor 509 490> mark @Anchor2;
  pos base [\uni1B2C ] <anchor 442 490> mark @Anchor2;
  pos base [\uni1B2C.ra ] <anchor 582 490> mark @Anchor2;
  pos base [\uni1B2D ] <anchor 333 490> mark @Anchor2;
  pos base [\uni1B2D.ra ] <anchor 503 490> mark @Anchor2;
  pos base [\uni1B2E \uni1B27.conj.ra \uni1B48.conj.ra ] <anchor 462 490> mark @Anchor2;
  pos base [\uni1B2E.ra ] <anchor 612 490> mark @Anchor2;
  pos base [\uni1B2F \uni1B33.td ] <anchor 332 490> mark @Anchor2;
  pos base [\uni1B2F.ra ] <anchor 482 490> mark @Anchor2;
  pos base [\uni1B30 ] <anchor 424 490> mark @Anchor2;
  pos base [\uni1B30.ra ] <anchor 554 490> mark @Anchor2;
  pos base [\uni1B31 ] <anchor 363 490> mark @Anchor2;
  pos base [\uni1B31.ra ] <anchor 523 490> mark @Anchor2;
  pos base [\uni1B32 ] <anchor 393 490> mark @Anchor2;
  pos base [\uni1B33 ] <anchor 438 490> mark @Anchor2;
  pos base [\uni1B33.ra ] <anchor 608 490> mark @Anchor2;
  pos base [\uni1B45.ra ] <anchor 605 490> mark @Anchor2;
  pos base [\uni1B46 \uni1B46.ra ] <anchor 679 490> mark @Anchor2;
  pos base [\uni1B47.ra ] <anchor 593 490> mark @Anchor2;
  pos base [\uni1B48 ] <anchor 341 490> mark @Anchor2;
  pos base [\uni1B48.ra ] <anchor 491 490> mark @Anchor2;
  pos base [\uni1B49 \uni1B47.td ] <anchor 330 490> mark @Anchor2;
  pos base [\uni1B49.ra ] <anchor 450 490> mark @Anchor2;
  pos base [\uni1B4A \uni1B4A.ra ] <anchor 390 490> mark @Anchor2;
  pos base [\uni1B4B \uni1B4B.ra ] <anchor 716 490> mark @Anchor2;
  pos base [\uni1B50 ] <anchor 240 520> mark @Anchor2;
  pos base [\uni1B51 ] <anchor 520 620> mark @Anchor2;
  pos base [\uni1B54 ] <anchor 240 640> mark @Anchor2;
  pos base [\uni1B55 ] <anchor 300 660> mark @Anchor2;
  pos base [\uni1B57 ] <anchor 380 690> mark @Anchor2;
  pos base [\uni1B58 ] <anchor 260 710> mark @Anchor2;
  pos base [\uni1B59 ] <anchor 400 690> mark @Anchor2;
  pos base [\uni25CC ] <anchor 299 602> mark @Anchor2;

  pos base [\uni1B27.conj \uni1B31.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj \uni1B0B.conj \uni1B0C.conj ] <anchor 292 490> mark @Anchor2;
  pos base [\uni1B28.conj ] <anchor 212 503> mark @Anchor2;
  pos base [\uni1B28.conj.ra ] <anchor 412 503> mark @Anchor2;
  pos base [\uni1B31.conj.ra ] <anchor 472 490> mark @Anchor2;
  pos base [\uni1B13.td \uni1B1E.td ] <anchor 344 490> mark @Anchor2;
  pos base [\uni1B15.td ] <anchor 385 490> mark @Anchor2;
  pos base [\uni1B18.td ] <anchor 321 490> mark @Anchor2;
  pos base [\uni1B19.td ] <anchor 284 490> mark @Anchor2;
  pos base [\uni1B1D.td ] <anchor 318 490> mark @Anchor2;
  pos base [\uni1B1F.td ] <anchor 386 470> mark @Anchor2;
  pos base [\uni1B21.td ] <anchor 346 490> mark @Anchor2;
  pos base [\uni1B22.td ] <anchor 340 490> mark @Anchor2;
  pos base [\uni1B23.td \uni1B2E.td ] <anchor 295 490> mark @Anchor2;
  pos base [\uni1B24.td ] <anchor 298 490> mark @Anchor2;
  pos base [\uni1B25.td \uni1B2D.td ] <anchor 323 490> mark @Anchor2;
  pos base [\uni1B26.td ] <anchor 329 490> mark @Anchor2;
  pos base [\uni1B27.td ] <anchor 327 490> mark @Anchor2;
  pos base [\uni1B2A.td ] <anchor 290 490> mark @Anchor2;
  pos base [\uni1B2B.td ] <anchor 288 490> mark @Anchor2;
  pos base [\uni1B2C.td ] <anchor 387 490> mark @Anchor2;
  pos base [\uni1B2F.td ] <anchor 304 490> mark @Anchor2;
  pos base [\uni1B30.td ] <anchor 381 490> mark @Anchor2;
  pos base [\uni1B31.td ] <anchor 310 490> mark @Anchor2;
  pos base [\uni1B32.td ] <anchor 331 490> mark @Anchor2;
  pos base [\uni1B46.td ] <anchor 627 490> mark @Anchor2;
  pos base [\uni1B48.td ] <anchor 271 490> mark @Anchor2;
  pos base [\uni1B49.td ] <anchor 254 490> mark @Anchor2;
  pos base [\uni1B4A.td ] <anchor 322 490> mark @Anchor2;
  pos base [\uni1B4B.td ] <anchor 585 490> mark @Anchor2;

  pos base [\uni1B61 \uni1B65 \uni1B79 \uni1B7B ] <anchor 287 -200> mark @Anchor0 <anchor 313 620> mark @Anchor2;
  pos base [\uni1B62 ] <anchor 378 -837> mark @Anchor0 <anchor 314 630> mark @Anchor2;
  pos base [\uni1B63 ] <anchor 288 -837> mark @Anchor0 <anchor 354 630> mark @Anchor2;
  pos base [\uni1B64 ] <anchor 325 -200> mark @Anchor0 <anchor 285 610> mark @Anchor2;
  pos base [\uni1B66 ] <anchor 327 -200> mark @Anchor0 <anchor 334 610> mark @Anchor2;
  pos base [\uni1B67 ] <anchor 256 -210> mark @Anchor0 <anchor 378 610> mark @Anchor2;
  pos base [\uni1B68 ] <anchor 328 -787> mark @Anchor0 <anchor 314 610> mark @Anchor2;
  pos base [\uni1B69 ] <anchor 578 -787> mark @Anchor0 <anchor 574 610> mark @Anchor2;
  pos base [\uni1B6A ] <anchor 328 -787> mark @Anchor0 <anchor 304 630> mark @Anchor2;
  pos base [\uni1B74 \uni1B76 ] <anchor 312 -200> mark @Anchor0 <anchor 294 630> mark @Anchor2;
  pos base [\uni1B75 \uni1B77 ] <anchor 305 -220> mark @Anchor0 <anchor 305 610> mark @Anchor2;
  pos base [\uni1B78 \uni1B7A ] <anchor 305 -140> mark @Anchor0 <anchor 305 610> mark @Anchor2;
  pos base [\uni1B7C ] <anchor 304 -120> mark @Anchor0 <anchor 298 580> mark @Anchor2;
} markMarkPositioninginBalineselookup1;

# mark-to-base: surang
lookup markMarkPositioninginBalineselookup2 {
  lookupflag UseMarkFilteringSet @surang;

  # vertical adjustment
  pos [\uni1B1B \uni1B1B.2 \uni1B1B.ra ] @surang' <0 180 0 0>;
  pos [\uni1B28 \uni1B28.ra ] @surang' <30 20 0 0>;
  pos [\uni1B27.conj \uni1B27.conj.ra \uni1B28.conj \uni1B28.conj.ra \uni1B31.conj \uni1B31.conj.ra \uni1B32.conj \uni1B48.conj \uni1B48.conj.ra \uni1B4A.conj ] @surang' <70 20 0 0>;

  # horizontal adjustment
  pos [\uni1B06 \uni1B13.td \uni1B15.td \uni1B16.td \uni1B18.td \uni1B19.td \uni1B1D.td \uni1B1E.td \uni1B1F.td \uni1B21.td \uni1B22.td \uni1B23.td \uni1B24.td \uni1B25.td \uni1B26.td \uni1B27.td \uni1B2A.td \uni1B2B.td \uni1B2C.td \uni1B2D.td \uni1B2E.td \uni1B2F.td \uni1B30.td \uni1B31.td \uni1B32.td \uni1B33.td \uni1B45.td \uni1B46.td \uni1B47.td \uni1B48.td \uni1B49.td \uni1B4A.td ] @surang' <-250 0 0 0>;
  pos [\uni1B08 \uni1B12 ] @surang' <-300 0 0 0>;
  pos [\uni1B0A ] @surang' <-275 0 0 0>;
  pos [\uni1B1B.td ] @surang' <-300 180 0 0>;
} markMarkPositioninginBalineselookup2;

# mark-to-base: right-adjoined suku
lookup markMarkPositioninginBalineselookup3 {
  lookupflag 0;
  pos base [\uni1B1B ] <anchor 943 -462> mark @Anchor3;
  pos base [\uni1B13.ra \uni1B2C.ra ] <anchor 984 -453> mark @Anchor3;
  pos base [\uni1B14.ra ] <anchor 976 -453> mark @Anchor3;
  pos base [\uni1B15.ra ] <anchor 831 -453> mark @Anchor3;
  pos base [\uni1B16.ra ] <anchor 1083 -453> mark @Anchor3;
  pos base [\uni1B17.ra ] <anchor 873 -453> mark @Anchor3;
  pos base [\uni1B18.ra ] <anchor 772 -453> mark @Anchor3;
  pos base [\uni1B19.ra ] <anchor 951 -453> mark @Anchor3;
  pos base [\uni1B1A.ra ] <anchor 786 -453> mark @Anchor3;
  pos base [\uni1B1C.ra ] <anchor 1114 -453> mark @Anchor3;
  pos base [\uni1B1D.ra ] <anchor 897 -453> mark @Anchor3;
  pos base [\uni1B1E.ra ] <anchor 867 -453> mark @Anchor3;
  pos base [\uni1B1F.ra ] <anchor 822 -453> mark @Anchor3;
  pos base [\uni1B20.ra \uni1B28.ra ] <anchor 759 -453> mark @Anchor3;
  pos base [\uni1B21.ra ] <anchor 880 -453> mark @Anchor3;
  pos base [\uni1B22.ra ] <anchor 959 -453> mark @Anchor3;
  pos base [\uni1B23.ra ] <anchor 782 -453> mark @Anchor3;
  pos base [\uni1B24.ra ] <anchor 798 -453> mark @Anchor3;
  pos base [\uni1B25.ra ] <anchor 845 -453> mark @Anchor3;
  pos base [\uni1B26.ra ] <anchor 835 -453> mark @Anchor3;
  pos base [\uni1B27.ra \uni1B48.ra ] <anchor 771 -453> mark @Anchor3;
  pos base [\uni1B29.ra ] <anchor 1077 -453> mark @Anchor3;
  pos base [\uni1B2A.ra ] <anchor 785 -453> mark @Anchor3;
  pos base [\uni1B2B.ra ] <anchor 765 -453> mark @Anchor3;
  pos base [\uni1B2D.ra ] <anchor 755 -453> mark @Anchor3;
  pos base [\uni1B2E.ra ] <anchor 975 -453> mark @Anchor3;
  pos base [\uni1B2F.ra ] <anchor 763 -453> mark @Anchor3;
  pos base [\uni1B30.ra ] <anchor 851 -453> mark @Anchor3;
  pos base [\uni1B31.ra ] <anchor 854 -453> mark @Anchor3;
  pos base [\uni1B32.ra ] <anchor 843 -453> mark @Anchor3;
  pos base [\uni1B33.ra \uni1B45.ra ] <anchor 974 -453> mark @Anchor3;
  pos base [\uni1B46.ra ] <anchor 1168 -453> mark @Anchor3;
  pos base [\uni1B47.ra ] <anchor 949 -453> mark @Anchor3;
  pos base [\uni1B49.ra ] <anchor 773 -453> mark @Anchor3;
  pos base [\uni1B4A.ra ] <anchor 853 -453> mark @Anchor3;
  pos base [\uni1B4B.ra ] <anchor 1181 -453> mark @Anchor3;
  pos base [\uni1B27.conj.ra ] <anchor 681 -453> mark @Anchor3;
  pos base [\uni1B28.conj.ra ] <anchor 588 -453> mark @Anchor3;
  pos base [\uni1B31.conj.ra ] <anchor 689 -453> mark @Anchor3;
  pos base [\uni1B48.conj.ra ] <anchor 691 -453> mark @Anchor3;
} markMarkPositioninginBalineselookup3;

# mark-to-base: conjuncts
lookup markMarkPositioninginBalineselookup4 {
  lookupflag 0;
  markClass [\uni1B1C.conj ] <anchor -627 0> @Anchor9;
  markClass [\uni1B46.conj ] <anchor -824 0> @Anchor9;
  markClass [\uni1B4B.conj ] <anchor -692 0> @Anchor9;
  pos base [\uni1B13 \uni1B45 ] <anchor 508 0> mark @Anchor9;
  pos base [\uni1B14 ] <anchor 599 0> mark @Anchor9;
  pos base [\uni1B15 \uni1B30 ] <anchor 472 0> mark @Anchor9;
  pos base [\uni1B16 ] <anchor 588 0> mark @Anchor9;
  pos base [\uni1B17 ] <anchor 483 0> mark @Anchor9;
  pos base [\uni1B18 \uni1B4A ] <anchor 427 0> mark @Anchor9;
  pos base [\uni1B19 ] <anchor 477 0> mark @Anchor9;
  pos base [\uni1B1A \uni1B1A.2 ] <anchor 456 0> mark @Anchor9;
  pos base [\uni1B1B \uni1B1B.2 ] <anchor 498 0> mark @Anchor9;
  pos base [\uni1B1C ] <anchor 623 0> mark @Anchor9;
  pos base [\uni1B1D \uni1B1E ] <anchor 470 0> mark @Anchor9;
  pos base [\uni1B1F ] <anchor 427 0> mark @Anchor9;
  pos base [\uni1B20 ] <anchor 346 0> mark @Anchor9;
  pos base [\uni1B21 ] <anchor 471 0> mark @Anchor9;
  pos base [\uni1B22 \uni1B47 ] <anchor 536 0> mark @Anchor9;
  pos base [\uni1B23 ] <anchor 412 0> mark @Anchor9;
  pos base [\uni1B24 ] <anchor 400 0> mark @Anchor9;
  pos base [\uni1B25 ] <anchor 419 0> mark @Anchor9;
  pos base [\uni1B26 ] <anchor 419 0> mark @Anchor9;
  pos base [\uni1B27 \uni1B48 ] <anchor 372 0> mark @Anchor9;
  pos base [\uni1B28 ] <anchor 306 0> mark @Anchor9;
  pos base [\uni1B29 ] <anchor 545 0> mark @Anchor9;
  pos base [\uni1B2A ] <anchor 394 0> mark @Anchor9;
  pos base [\uni1B2B ] <anchor 389 0> mark @Anchor9;
  pos base [\uni1B2C ] <anchor 503 0> mark @Anchor9;
  pos base [\uni1B2D ] <anchor 349 0> mark @Anchor9;
  pos base [\uni1B2E ] <anchor 524 0> mark @Anchor9;
  pos base [\uni1B2F \uni1B49 ] <anchor 368 0> mark @Anchor9;
  pos base [\uni1B31 ] <anchor 408 0> mark @Anchor9;
  pos base [\uni1B32 ] <anchor 443 0> mark @Anchor9;
  pos base [\uni1B33 ] <anchor 483 0> mark @Anchor9;
  pos base [\uni1B46 ] <anchor 680 0> mark @Anchor9;
  pos base [\uni1B4B ] <anchor 712 0> mark @Anchor9;
  pos base [\uni1B27.conj \uni1B32.conj \uni1B48.conj \uni1B4A.conj ] <anchor 277 0> mark @Anchor9;
  pos base [\uni1B28.conj ] <anchor 205 0> mark @Anchor9;
  pos base [\uni1B31.conj ] <anchor 306 0> mark @Anchor9;
} markMarkPositioninginBalineselookup4;
