# mark-to-mark: combining mark below on conjunct
lookup mkmkMarktoMarkinBalineselookup1 {
  lookupflag 0;
  markClass [\uni1B38 \uni1B39 \uni1B3A \uni1B3A.2 ] <anchor -59 0> @Anchor4;
  pos mark [\uni1B13.conj \uni1B14.conj \uni1B15.conj \uni1B17.conj \uni1B18.conj \uni1B19.conj.1 \uni1B1A.conj \uni1B1D.conj \uni1B1E.conj \uni1B1F.conj \uni1B21.conj.1 \uni1B22.conj \uni1B23.conj \uni1B24.conj \uni1B25.conj \uni1B2A.conj \uni1B2B.conj \uni1B2D.conj.1 \uni1B2F.conj.1 \uni1B30.conj \uni1B33.conj \uni1B45.conj \uni1B47.conj \uni1B49.conj ] <anchor -59 -489> mark @Anchor4;
  pos mark [\uni1B20.conj ] <anchor -86 -489> mark @Anchor4;
  pos mark [\uni1B26.conj ] <anchor -178 -489> mark @Anchor4;
  pos mark [\uni1B29.conj.1 ] <anchor -70 -489> mark @Anchor4;
} mkmkMarktoMarkinBalineselookup1;

# mark-to-mark: right-adjoining suku on conjunct
lookup mkmkMarktoMarkinBalineselookup2 {
  lookupflag 0;
  pos mark [\uni1B1B.conj ] <anchor 131 -130> mark @Anchor3;
  pos mark [\uni1B23.conj ] <anchor -84 -443> mark @Anchor3;
  pos mark [\uni1B23.conj.ra \uni1B2D.conj.3 \uni1B2F.conj.ra ] <anchor 105 -443> mark @Anchor3;
  pos mark [\uni1B2D.conj.1 ] <anchor -83 -453> mark @Anchor3;
  pos mark [\uni1B2E.conj.3 ] <anchor -43 -486> mark @Anchor3;
  pos mark [\uni1B2F.conj.1 ] <anchor -59 -400> mark @Anchor3;
  pos mark [\uni1B2F.conj.2 \uni1B2F.conj.wa ] <anchor -45 -439> mark @Anchor3;
  pos mark [\uni1B49.conj ] <anchor -42 -144> mark @Anchor3;
  pos mark [\uni1B49.conj.ra ] <anchor -259 -127> mark @Anchor3;
} mkmkMarktoMarkinBalineselookup2;
