lookup {{ reorder_lookup }}_1 {
  lookupflag UseMarkFilteringSet @mark_above;
  sub \uni1B00' @spacing_mark @vowel_coda_above by \uni1B00 \_reorder;
  sub \uni1B01' @spacing_mark @vowel_coda_above by \uni1B01 \_reorder;
  sub \uni1B02' @spacing_mark @vowel_coda_above by \uni1B02 \_reorder;
  sub \uni1B03' @spacing_mark @vowel_coda_above by \uni1B03 \_reorder;
  sub \uni1B36' @spacing_mark @vowel_coda_above by \uni1B36 \_reorder;
  sub \uni1B37' @spacing_mark @vowel_coda_above by \uni1B37 \_reorder;
  sub \uni1B42' @spacing_mark @vowel_coda_above by \uni1B42 \_reorder;

  sub \uni1B34' @spacing_mark @vowel_coda_above by \uni1B34 \_reorder;

  sub \uni1B13' @spacing_mark @vowel_coda_above by \uni1B13 \_reorder;
  sub \uni1B14' @spacing_mark @vowel_coda_above by \uni1B14 \_reorder;
  sub \uni1B15' @spacing_mark @vowel_coda_above by \uni1B15 \_reorder;
  sub \uni1B16' @spacing_mark @vowel_coda_above by \uni1B16 \_reorder;
  sub \uni1B17' @spacing_mark @vowel_coda_above by \uni1B17 \_reorder;
  sub \uni1B18' @spacing_mark @vowel_coda_above by \uni1B18 \_reorder;
  sub \uni1B19' @spacing_mark @vowel_coda_above by \uni1B19 \_reorder;
  sub \uni1B1A' @spacing_mark @vowel_coda_above by \uni1B1A \_reorder;
  sub \uni1B1B' @spacing_mark @vowel_coda_above by \uni1B1B \_reorder;
  sub \uni1B1C' @spacing_mark @vowel_coda_above by \uni1B1C \_reorder;
  sub \uni1B1D' @spacing_mark @vowel_coda_above by \uni1B1D \_reorder;
  sub \uni1B1E' @spacing_mark @vowel_coda_above by \uni1B1E \_reorder;
  sub \uni1B1F' @spacing_mark @vowel_coda_above by \uni1B1F \_reorder;
  sub \uni1B20' @spacing_mark @vowel_coda_above by \uni1B20 \_reorder;
  sub \uni1B21' @spacing_mark @vowel_coda_above by \uni1B21 \_reorder;
  sub \uni1B22' @spacing_mark @vowel_coda_above by \uni1B22 \_reorder;
  sub \uni1B23' @spacing_mark @vowel_coda_above by \uni1B23 \_reorder;
  sub \uni1B24' @spacing_mark @vowel_coda_above by \uni1B24 \_reorder;
  sub \uni1B25' @spacing_mark @vowel_coda_above by \uni1B25 \_reorder;
  sub \uni1B26' @spacing_mark @vowel_coda_above by \uni1B26 \_reorder;
  sub \uni1B27' @spacing_mark @vowel_coda_above by \uni1B27 \_reorder;
  sub \uni1B28' @spacing_mark @vowel_coda_above by \uni1B28 \_reorder;
  sub \uni1B29' @spacing_mark @vowel_coda_above by \uni1B29 \_reorder;
  sub \uni1B2A' @spacing_mark @vowel_coda_above by \uni1B2A \_reorder;
  sub \uni1B2B' @spacing_mark @vowel_coda_above by \uni1B2B \_reorder;
  sub \uni1B2C' @spacing_mark @vowel_coda_above by \uni1B2C \_reorder;
  sub \uni1B2D' @spacing_mark @vowel_coda_above by \uni1B2D \_reorder;
  sub \uni1B2E' @spacing_mark @vowel_coda_above by \uni1B2E \_reorder;
  sub \uni1B2F' @spacing_mark @vowel_coda_above by \uni1B2F \_reorder;
  sub \uni1B30' @spacing_mark @vowel_coda_above by \uni1B30 \_reorder;
  sub \uni1B31' @spacing_mark @vowel_coda_above by \uni1B31 \_reorder;
  sub \uni1B32' @spacing_mark @vowel_coda_above by \uni1B32 \_reorder;
  sub \uni1B33' @spacing_mark @vowel_coda_above by \uni1B33 \_reorder;
  sub \uni1B45' @spacing_mark @vowel_coda_above by \uni1B45 \_reorder;
  sub \uni1B46' @spacing_mark @vowel_coda_above by \uni1B46 \_reorder;
  sub \uni1B47' @spacing_mark @vowel_coda_above by \uni1B47 \_reorder;
  sub \uni1B48' @spacing_mark @vowel_coda_above by \uni1B48 \_reorder;
  sub \uni1B49' @spacing_mark @vowel_coda_above by \uni1B49 \_reorder;
  sub \uni1B4A' @spacing_mark @vowel_coda_above by \uni1B4A \_reorder;
  sub \uni1B4B' @spacing_mark @vowel_coda_above by \uni1B4B \_reorder;
  sub \uni1B27.conj' @spacing_mark @vowel_coda_above by \uni1B27.conj \_reorder;
  sub \uni1B28.conj' @spacing_mark @vowel_coda_above by \uni1B28.conj \_reorder;
  sub \uni1B31.conj' @spacing_mark @vowel_coda_above by \uni1B31.conj \_reorder;
  sub \uni1B32.conj' @spacing_mark @vowel_coda_above by \uni1B32.conj \_reorder;
  sub \uni1B48.conj' @spacing_mark @vowel_coda_above by \uni1B48.conj \_reorder;
  sub \uni1B4A.conj' @spacing_mark @vowel_coda_above by \uni1B4A.conj \_reorder;
} {{ reorder_lookup }}_1;

lookup {{ reorder_lookup }}_2 {
  lookupflag IgnoreBaseGlyphs, UseMarkFilteringSet @reorder_filter;
  sub \_reorder \uni1B00 by \uni1B00;
  sub \_reorder \uni1B01 by \uni1B01;
  sub \_reorder \uni1B02 by \uni1B02;
  sub \_reorder \uni1B03 by \uni1B03;
  sub \_reorder \uni1B36 by \uni1B36;
  sub \_reorder \uni1B37 by \uni1B37;
  sub \_reorder \uni1B42 by \uni1B42;
} {{ reorder_lookup }}_2;
