lookup SingleSubstitutionlookup0 {
  lookupflag 0;
  pos [\uni1B23.conj.ya.u \uni1B2C.conj.u.1 \uni1B2F.conj.ya.u \uni1B49.conj.ya.u ] 219;
  pos [\uni1B26.conj.ya.u \uni1B2C.conj.u.2 \uni1B2D.conj.ya.u \uni1B2D.conj.3.ya.u ] 218;
  pos [\uni1B23.conj.ya.uu \uni1B2F.conj.ya.uu \uni1B49.conj.ya.uu ] 116;
  pos [\uni1B26.conj.ya.uu \uni1B2C.conj.uu.1 \uni1B2C.conj.uu.2 \uni1B2D.conj.ya.uu \uni1B2D.conj.3.ya.uu ] 115;
  pos \uni1B26.conj.u 130;
  pos \uni1B0E.conj 171;
  pos \uni1B38.3 274;
  pos \uni1B38.4 191;
  pos \uni1B39.3 221;
  pos [\uni1B39.4 \uni1B26.conj.uu ] 89;
} SingleSubstitutionlookup0;

# extra spacing at collision of suku variant + bisah/taling
lookup distDistanceinBalineselookup2 {
  lookupflag 0;
  pos [\uni1B0E.conj \uni1B23.conj.ya.u \uni1B23.conj.ya.uu \uni1B26.conj.u \uni1B26.conj.uu \uni1B26.conj.ya.u \uni1B26.conj.ya.uu \uni1B2C.conj.u.1 \uni1B2C.conj.uu.1 \uni1B2C.conj.u.2 \uni1B2C.conj.uu.2 \uni1B2D.conj.ya.u \uni1B2D.conj.ya.uu \uni1B2D.conj.3.ya.u \uni1B2D.conj.3.ya.uu \uni1B2F.conj.ya.u \uni1B2F.conj.ya.uu \uni1B38.3 \uni1B38.4 \uni1B39.3 \uni1B39.4 \uni1B49.conj.ya.u \uni1B49.conj.ya.uu ]' lookup SingleSubstitutionlookup0 [\uni1B04 ];
} distDistanceinBalineselookup2;
