<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>nonbreakingspace</key>
    <string>nonbreakingspace.glif</string>
    <key>uni1B00</key>
    <string>uni1B_00.glif</string>
    <key>uni1B01</key>
    <string>uni1B_01.glif</string>
    <key>uni1B02</key>
    <string>uni1B_02.glif</string>
    <key>uni1B03</key>
    <string>uni1B_03.glif</string>
    <key>uni1B04</key>
    <string>uni1B_04.glif</string>
    <key>uni1B05</key>
    <string>uni1B_05.glif</string>
    <key>uni1B06</key>
    <string>uni1B_06.glif</string>
    <key>uni1B07</key>
    <string>uni1B_07.glif</string>
    <key>uni1B08</key>
    <string>uni1B_08.glif</string>
    <key>uni1B09</key>
    <string>uni1B_09.glif</string>
    <key>uni1B0A</key>
    <string>uni1B_0A_.glif</string>
    <key>uni1B0B</key>
    <string>uni1B_0B_.glif</string>
    <key>uni1B0C</key>
    <string>uni1B_0C_.glif</string>
    <key>uni1B0D</key>
    <string>uni1B_0D_.glif</string>
    <key>uni1B0E</key>
    <string>uni1B_0E_.glif</string>
    <key>uni1B0F</key>
    <string>uni1B_0F_.glif</string>
    <key>uni1B10</key>
    <string>uni1B_10.glif</string>
    <key>uni1B11</key>
    <string>uni1B_11.glif</string>
    <key>uni1B12</key>
    <string>uni1B_12.glif</string>
    <key>uni1B13</key>
    <string>uni1B_13.glif</string>
    <key>uni1B14</key>
    <string>uni1B_14.glif</string>
    <key>uni1B15</key>
    <string>uni1B_15.glif</string>
    <key>uni1B16</key>
    <string>uni1B_16.glif</string>
    <key>uni1B17</key>
    <string>uni1B_17.glif</string>
    <key>uni1B18</key>
    <string>uni1B_18.glif</string>
    <key>uni1B19</key>
    <string>uni1B_19.glif</string>
    <key>uni1B1A</key>
    <string>uni1B_1A_.glif</string>
    <key>uni1B1A.nya</key>
    <string>uni1B_1A_.nya.glif</string>
    <key>uni1B1B</key>
    <string>uni1B_1B_.glif</string>
    <key>uni1B1C</key>
    <string>uni1B_1C_.glif</string>
    <key>uni1B1D</key>
    <string>uni1B_1D_.glif</string>
    <key>uni1B1E</key>
    <string>uni1B_1E_.glif</string>
    <key>uni1B1F</key>
    <string>uni1B_1F_.glif</string>
    <key>uni1B20</key>
    <string>uni1B_20.glif</string>
    <key>uni1B21</key>
    <string>uni1B_21.glif</string>
    <key>uni1B22</key>
    <string>uni1B_22.glif</string>
    <key>uni1B23</key>
    <string>uni1B_23.glif</string>
    <key>uni1B24</key>
    <string>uni1B_24.glif</string>
    <key>uni1B25</key>
    <string>uni1B_25.glif</string>
    <key>uni1B26</key>
    <string>uni1B_26.glif</string>
    <key>uni1B27</key>
    <string>uni1B_27.glif</string>
    <key>uni1B28</key>
    <string>uni1B_28.glif</string>
    <key>uni1B29</key>
    <string>uni1B_29.glif</string>
    <key>uni1B2A</key>
    <string>uni1B_2A_.glif</string>
    <key>uni1B2B</key>
    <string>uni1B_2B_.glif</string>
    <key>uni1B2C</key>
    <string>uni1B_2C_.glif</string>
    <key>uni1B2D</key>
    <string>uni1B_2D_.glif</string>
    <key>uni1B2E</key>
    <string>uni1B_2E_.glif</string>
    <key>uni1B2F</key>
    <string>uni1B_2F_.glif</string>
    <key>uni1B30</key>
    <string>uni1B_30.glif</string>
    <key>uni1B31</key>
    <string>uni1B_31.glif</string>
    <key>uni1B32</key>
    <string>uni1B_32.glif</string>
    <key>uni1B33</key>
    <string>uni1B_33.glif</string>
    <key>uni1B34</key>
    <string>uni1B_34.glif</string>
    <key>uni1B35</key>
    <string>uni1B_35.glif</string>
    <key>uni1B36</key>
    <string>uni1B_36.glif</string>
    <key>uni1B37</key>
    <string>uni1B_37.glif</string>
    <key>uni1B38</key>
    <string>uni1B_38.glif</string>
    <key>uni1B39</key>
    <string>uni1B_39.glif</string>
    <key>uni1B3A</key>
    <string>uni1B_3A_.glif</string>
    <key>uni1B3B</key>
    <string>uni1B_3B_.glif</string>
    <key>uni1B3C</key>
    <string>uni1B_3C_.glif</string>
    <key>uni1B3D</key>
    <string>uni1B_3D_.glif</string>
    <key>uni1B3E</key>
    <string>uni1B_3E_.glif</string>
    <key>uni1B3F</key>
    <string>uni1B_3F_.glif</string>
    <key>uni1B40</key>
    <string>uni1B_40.glif</string>
    <key>uni1B41</key>
    <string>uni1B_41.glif</string>
    <key>uni1B42</key>
    <string>uni1B_42.glif</string>
    <key>uni1B43</key>
    <string>uni1B_43.glif</string>
    <key>uni1B44</key>
    <string>uni1B_44.glif</string>
    <key>uni1B45</key>
    <string>uni1B_45.glif</string>
    <key>uni1B46</key>
    <string>uni1B_46.glif</string>
    <key>uni1B47</key>
    <string>uni1B_47.glif</string>
    <key>uni1B48</key>
    <string>uni1B_48.glif</string>
    <key>uni1B49</key>
    <string>uni1B_49.glif</string>
    <key>uni1B4A</key>
    <string>uni1B_4A_.glif</string>
    <key>uni1B4B</key>
    <string>uni1B_4B_.glif</string>
    <key>uni1B50</key>
    <string>uni1B_50.glif</string>
    <key>uni1B51</key>
    <string>uni1B_51.glif</string>
    <key>uni1B52</key>
    <string>uni1B_52.glif</string>
    <key>uni1B53</key>
    <string>uni1B_53.glif</string>
    <key>uni1B54</key>
    <string>uni1B_54.glif</string>
    <key>uni1B55</key>
    <string>uni1B_55.glif</string>
    <key>uni1B56</key>
    <string>uni1B_56.glif</string>
    <key>uni1B57</key>
    <string>uni1B_57.glif</string>
    <key>uni1B58</key>
    <string>uni1B_58.glif</string>
    <key>uni1B59</key>
    <string>uni1B_59.glif</string>
    <key>uni1B5A</key>
    <string>uni1B_5A_.glif</string>
    <key>uni1B5B</key>
    <string>uni1B_5B_.glif</string>
    <key>uni1B5C</key>
    <string>uni1B_5C_.glif</string>
    <key>uni1B5D</key>
    <string>uni1B_5D_.glif</string>
    <key>uni1B5E</key>
    <string>uni1B_5E_.glif</string>
    <key>uni1B5F</key>
    <string>uni1B_5F_.glif</string>
    <key>uni1B60</key>
    <string>uni1B_60.glif</string>
    <key>uni1B61</key>
    <string>uni1B_61.glif</string>
    <key>uni1B62</key>
    <string>uni1B_62.glif</string>
    <key>uni1B63</key>
    <string>uni1B_63.glif</string>
    <key>uni1B64</key>
    <string>uni1B_64.glif</string>
    <key>uni1B65</key>
    <string>uni1B_65.glif</string>
    <key>uni1B66</key>
    <string>uni1B_66.glif</string>
    <key>uni1B67</key>
    <string>uni1B_67.glif</string>
    <key>uni1B68</key>
    <string>uni1B_68.glif</string>
    <key>uni1B69</key>
    <string>uni1B_69.glif</string>
    <key>uni1B6A</key>
    <string>uni1B_6A_.glif</string>
    <key>uni1B6B</key>
    <string>uni1B_6B_.glif</string>
    <key>uni1B6C</key>
    <string>uni1B_6C_.glif</string>
    <key>uni1B6D</key>
    <string>uni1B_6D_.glif</string>
    <key>uni1B6E</key>
    <string>uni1B_6E_.glif</string>
    <key>uni1B6F</key>
    <string>uni1B_6F_.glif</string>
    <key>uni1B70</key>
    <string>uni1B_70.glif</string>
    <key>uni1B71</key>
    <string>uni1B_71.glif</string>
    <key>uni1B72</key>
    <string>uni1B_72.glif</string>
    <key>uni1B73</key>
    <string>uni1B_73.glif</string>
    <key>uni1B74</key>
    <string>uni1B_74.glif</string>
    <key>uni1B75</key>
    <string>uni1B_75.glif</string>
    <key>uni1B76</key>
    <string>uni1B_76.glif</string>
    <key>uni1B77</key>
    <string>uni1B_77.glif</string>
    <key>uni1B78</key>
    <string>uni1B_78.glif</string>
    <key>uni1B79</key>
    <string>uni1B_79.glif</string>
    <key>uni1B7A</key>
    <string>uni1B_7A_.glif</string>
    <key>uni1B7B</key>
    <string>uni1B_7B_.glif</string>
    <key>uni1B7C</key>
    <string>uni1B_7C_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>cereg1</key>
    <string>cereg1.glif</string>
    <key>cereg2</key>
    <string>cereg2.glif</string>
    <key>cereg3</key>
    <string>cereg3.glif</string>
    <key>cereg4</key>
    <string>cereg4.glif</string>
    <key>cereg5</key>
    <string>cereg5.glif</string>
    <key>uni1B03.2</key>
    <string>uni1B_03.2.glif</string>
    <key>uni1B03.3</key>
    <string>uni1B_03.3.glif</string>
    <key>uni1B34_uni1B02</key>
    <string>uni1B_34_uni1B_02.glif</string>
    <key>uni1B34_uni1B03</key>
    <string>uni1B_34_uni1B_03.glif</string>
    <key>uni1B34_uni1B36</key>
    <string>uni1B_34_uni1B_36.glif</string>
    <key>uni1B34_uni1B36_uni1B02</key>
    <string>uni1B_34_uni1B_36_uni1B_02.glif</string>
    <key>uni1B34_uni1B36_uni1B03</key>
    <string>uni1B_34_uni1B_36_uni1B_03.glif</string>
    <key>uni1B34_uni1B37</key>
    <string>uni1B_34_uni1B_37.glif</string>
    <key>uni1B34_uni1B37_uni1B02</key>
    <string>uni1B_34_uni1B_37_uni1B_02.glif</string>
    <key>uni1B34_uni1B37_uni1B03</key>
    <string>uni1B_34_uni1B_37_uni1B_03.glif</string>
    <key>uni1B34_uni1B42</key>
    <string>uni1B_34_uni1B_42.glif</string>
    <key>uni1B34_uni1B42_uni1B02</key>
    <string>uni1B_34_uni1B_42_uni1B_02.glif</string>
    <key>uni1B34_uni1B42_uni1B03</key>
    <string>uni1B_34_uni1B_42_uni1B_03.glif</string>
    <key>uni1B36_uni1B00</key>
    <string>uni1B_36_uni1B_00.glif</string>
    <key>uni1B36_uni1B01</key>
    <string>uni1B_36_uni1B_01.glif</string>
    <key>uni1B36_uni1B02</key>
    <string>uni1B_36_uni1B_02.glif</string>
    <key>uni1B36_uni1B03</key>
    <string>uni1B_36_uni1B_03.glif</string>
    <key>uni1B36_uni1B02_uni1B03</key>
    <string>uni1B_36_uni1B_02_uni1B_03.glif</string>
    <key>uni1B37_uni1B00</key>
    <string>uni1B_37_uni1B_00.glif</string>
    <key>uni1B37_uni1B01</key>
    <string>uni1B_37_uni1B_01.glif</string>
    <key>uni1B37_uni1B02</key>
    <string>uni1B_37_uni1B_02.glif</string>
    <key>uni1B37_uni1B03</key>
    <string>uni1B_37_uni1B_03.glif</string>
    <key>uni1B37_uni1B02_uni1B03</key>
    <string>uni1B_37_uni1B_02_uni1B_03.glif</string>
    <key>uni1B38.2</key>
    <string>uni1B_38.2.glif</string>
    <key>uni1B38.3</key>
    <string>uni1B_38.3.glif</string>
    <key>uni1B38.4</key>
    <string>uni1B_38.4.glif</string>
    <key>uni1B39.2</key>
    <string>uni1B_39.2.glif</string>
    <key>uni1B39.3</key>
    <string>uni1B_39.3.glif</string>
    <key>uni1B39.4</key>
    <string>uni1B_39.4.glif</string>
    <key>uni1B3A.2</key>
    <string>uni1B_3A_.2.glif</string>
    <key>uni1B3A.3</key>
    <string>uni1B_3A_.3.glif</string>
    <key>uni1B3A.4</key>
    <string>uni1B_3A_.4.glif</string>
    <key>uni1B3A.5</key>
    <string>uni1B_3A_.5.glif</string>
    <key>uni1B42.2</key>
    <string>uni1B_42.2.glif</string>
    <key>uni1B42_uni1B02</key>
    <string>uni1B_42_uni1B_02.glif</string>
    <key>uni1B42_uni1B03</key>
    <string>uni1B_42_uni1B_03.glif</string>
    <key>uni1B42_uni1B02_uni1B03</key>
    <string>uni1B_42_uni1B_02_uni1B_03.glif</string>
    <key>uni1B02_uni1B03</key>
    <string>uni1B_02_uni1B_03.glif</string>
    <key>uni1B13.conj</key>
    <string>uni1B_13.conj.glif</string>
    <key>uni1B14.conj</key>
    <string>uni1B_14.conj.glif</string>
    <key>uni1B15.conj</key>
    <string>uni1B_15.conj.glif</string>
    <key>uni1B16.conj.1</key>
    <string>uni1B_16.conj.1.glif</string>
    <key>uni1B16.conj.2</key>
    <string>uni1B_16.conj.2.glif</string>
    <key>uni1B17.conj</key>
    <string>uni1B_17.conj.glif</string>
    <key>uni1B18.conj</key>
    <string>uni1B_18.conj.glif</string>
    <key>uni1B19.conj.1</key>
    <string>uni1B_19.conj.1.glif</string>
    <key>uni1B19.conj.2</key>
    <string>uni1B_19.conj.2.glif</string>
    <key>uni1B1A.conj</key>
    <string>uni1B_1A_.conj.glif</string>
    <key>uni1B1B.conj</key>
    <string>uni1B_1B_.conj.glif</string>
    <key>uni1B1C.conj</key>
    <string>uni1B_1C_.conj.glif</string>
    <key>uni1B1D.conj</key>
    <string>uni1B_1D_.conj.glif</string>
    <key>uni1B1E.conj</key>
    <string>uni1B_1E_.conj.glif</string>
    <key>uni1B1F.conj</key>
    <string>uni1B_1F_.conj.glif</string>
    <key>uni1B20.conj</key>
    <string>uni1B_20.conj.glif</string>
    <key>uni1B21.conj.1</key>
    <string>uni1B_21.conj.1.glif</string>
    <key>uni1B21.conj.2</key>
    <string>uni1B_21.conj.2.glif</string>
    <key>uni1B22.conj</key>
    <string>uni1B_22.conj.glif</string>
    <key>uni1B23.conj</key>
    <string>uni1B_23.conj.glif</string>
    <key>uni1B23.conj.ya</key>
    <string>uni1B_23.conj.ya.glif</string>
    <key>uni1B23.conj.ra</key>
    <string>uni1B_23.conj.ra.glif</string>
    <key>uni1B24.conj</key>
    <string>uni1B_24.conj.glif</string>
    <key>uni1B25.conj</key>
    <string>uni1B_25.conj.glif</string>
    <key>uni1B26.conj</key>
    <string>uni1B_26.conj.glif</string>
    <key>uni1B26.conj.ya</key>
    <string>uni1B_26.conj.ya.glif</string>
    <key>uni1B27.conj</key>
    <string>uni1B_27.conj.glif</string>
    <key>uni1B28.conj</key>
    <string>uni1B_28.conj.glif</string>
    <key>uni1B29.conj.1</key>
    <string>uni1B_29.conj.1.glif</string>
    <key>uni1B29.conj.2</key>
    <string>uni1B_29.conj.2.glif</string>
    <key>uni1B2A.conj</key>
    <string>uni1B_2A_.conj.glif</string>
    <key>uni1B2B.conj</key>
    <string>uni1B_2B_.conj.glif</string>
    <key>uni1B2C.conj.1</key>
    <string>uni1B_2C_.conj.1.glif</string>
    <key>uni1B2C.conj.2</key>
    <string>uni1B_2C_.conj.2.glif</string>
    <key>uni1B2D.conj.1</key>
    <string>uni1B_2D_.conj.1.glif</string>
    <key>uni1B2D.conj.3</key>
    <string>uni1B_2D_.conj.3.glif</string>
    <key>uni1B2D.conj.4</key>
    <string>uni1B_2D_.conj.4.glif</string>
    <key>uni1B2D.conj.ya</key>
    <string>uni1B_2D_.conj.ya.glif</string>
    <key>uni1B2D.conj.3.ya</key>
    <string>uni1B_2D_.conj.3.ya.glif</string>
    <key>uni1B2D.conj.wa</key>
    <string>uni1B_2D_.conj.wa.glif</string>
    <key>uni1B2D.conj.3.wa</key>
    <string>uni1B_2D_.conj.3.wa.glif</string>
    <key>uni1B2E.conj.1</key>
    <string>uni1B_2E_.conj.1.glif</string>
    <key>uni1B2E.conj.2</key>
    <string>uni1B_2E_.conj.2.glif</string>
    <key>uni1B2E.conj.3</key>
    <string>uni1B_2E_.conj.3.glif</string>
    <key>uni1B2F.conj.1</key>
    <string>uni1B_2F_.conj.1.glif</string>
    <key>uni1B2F.conj.2</key>
    <string>uni1B_2F_.conj.2.glif</string>
    <key>uni1B2F.conj.ya</key>
    <string>uni1B_2F_.conj.ya.glif</string>
    <key>uni1B2F.conj.ra</key>
    <string>uni1B_2F_.conj.ra.glif</string>
    <key>uni1B2F.conj.wa</key>
    <string>uni1B_2F_.conj.wa.glif</string>
    <key>uni1B30.conj</key>
    <string>uni1B_30.conj.glif</string>
    <key>uni1B31.conj</key>
    <string>uni1B_31.conj.glif</string>
    <key>uni1B33.conj</key>
    <string>uni1B_33.conj.glif</string>
    <key>uni1B45.conj</key>
    <string>uni1B_45.conj.glif</string>
    <key>uni1B46.conj</key>
    <string>uni1B_46.conj.glif</string>
    <key>uni1B47.conj</key>
    <string>uni1B_47.conj.glif</string>
    <key>uni1B48.conj</key>
    <string>uni1B_48.conj.glif</string>
    <key>uni1B49.conj</key>
    <string>uni1B_49.conj.glif</string>
    <key>uni1B49.conj.ya</key>
    <string>uni1B_49.conj.ya.glif</string>
    <key>uni1B49.conj.ra</key>
    <string>uni1B_49.conj.ra.glif</string>
    <key>uni1B4A.conj</key>
    <string>uni1B_4A_.conj.glif</string>
    <key>uni1B4B.conj</key>
    <string>uni1B_4B_.conj.glif</string>
    <key>uni1B0B.conj</key>
    <string>uni1B_0B_.conj.glif</string>
    <key>uni1B0C.conj</key>
    <string>uni1B_0C_.conj.glif</string>
    <key>uni1B0D.conj</key>
    <string>uni1B_0D_.conj.glif</string>
    <key>uni1B0E.conj</key>
    <string>uni1B_0E_.conj.glif</string>
    <key>uni1B3C.blw</key>
    <string>uni1B_3C_.blw.glif</string>
    <key>uni1B26.conj.u</key>
    <string>uni1B_26.conj.u.glif</string>
    <key>uni1B26.conj.uu</key>
    <string>uni1B_26.conj.uu.glif</string>
    <key>uni1B2C.conj.u.1</key>
    <string>uni1B_2C_.conj.u.1.glif</string>
    <key>uni1B2C.conj.uu.1</key>
    <string>uni1B_2C_.conj.uu.1.glif</string>
    <key>uni1B1B.2</key>
    <string>uni1B_1B_.2.glif</string>
    <key>uni1B13.td</key>
    <string>uni1B_13.td.glif</string>
    <key>uni1B15.td</key>
    <string>uni1B_15.td.glif</string>
    <key>uni1B16.td</key>
    <string>uni1B_16.td.glif</string>
    <key>uni1B18.td</key>
    <string>uni1B_18.td.glif</string>
    <key>uni1B19.td</key>
    <string>uni1B_19.td.glif</string>
    <key>uni1B1B.td</key>
    <string>uni1B_1B_.td.glif</string>
    <key>uni1B1D.td</key>
    <string>uni1B_1D_.td.glif</string>
    <key>uni1B1E.td</key>
    <string>uni1B_1E_.td.glif</string>
    <key>uni1B1F.td</key>
    <string>uni1B_1F_.td.glif</string>
    <key>uni1B21.td</key>
    <string>uni1B_21.td.glif</string>
    <key>uni1B22.td</key>
    <string>uni1B_22.td.glif</string>
    <key>uni1B23.td</key>
    <string>uni1B_23.td.glif</string>
    <key>uni1B24.td</key>
    <string>uni1B_24.td.glif</string>
    <key>uni1B25.td</key>
    <string>uni1B_25.td.glif</string>
    <key>uni1B26.td</key>
    <string>uni1B_26.td.glif</string>
    <key>uni1B27.td</key>
    <string>uni1B_27.td.glif</string>
    <key>uni1B2A.td</key>
    <string>uni1B_2A_.td.glif</string>
    <key>uni1B2B.td</key>
    <string>uni1B_2B_.td.glif</string>
    <key>uni1B2C.td</key>
    <string>uni1B_2C_.td.glif</string>
    <key>uni1B2D.td</key>
    <string>uni1B_2D_.td.glif</string>
    <key>uni1B2E.td</key>
    <string>uni1B_2E_.td.glif</string>
    <key>uni1B2F.td</key>
    <string>uni1B_2F_.td.glif</string>
    <key>uni1B30.td</key>
    <string>uni1B_30.td.glif</string>
    <key>uni1B31.td</key>
    <string>uni1B_31.td.glif</string>
    <key>uni1B32.td</key>
    <string>uni1B_32.td.glif</string>
    <key>uni1B33.td</key>
    <string>uni1B_33.td.glif</string>
    <key>uni1B45.td</key>
    <string>uni1B_45.td.glif</string>
    <key>uni1B46.td</key>
    <string>uni1B_46.td.glif</string>
    <key>uni1B47.td</key>
    <string>uni1B_47.td.glif</string>
    <key>uni1B48.td</key>
    <string>uni1B_48.td.glif</string>
    <key>uni1B49.td</key>
    <string>uni1B_49.td.glif</string>
    <key>uni1B4A.td</key>
    <string>uni1B_4A_.td.glif</string>
    <key>uni1B4B.td</key>
    <string>uni1B_4B_.td.glif</string>
    <key>uni1B23.conj.ya.td</key>
    <string>uni1B_23.conj.ya.td.glif</string>
    <key>uni1B26.conj.ya.td</key>
    <string>uni1B_26.conj.ya.td.glif</string>
    <key>uni1B2C.conj.td.1</key>
    <string>uni1B_2C_.conj.td.1.glif</string>
    <key>uni1B2C.conj.td.2</key>
    <string>uni1B_2C_.conj.td.2.glif</string>
    <key>uni1B2D.conj.ya.td</key>
    <string>uni1B_2D_.conj.ya.td.glif</string>
    <key>uni1B2D.conj.3.ya.td</key>
    <string>uni1B_2D_.conj.3.ya.td.glif</string>
    <key>uni1B2F.conj.ya.td</key>
    <string>uni1B_2F_.conj.ya.td.glif</string>
    <key>uni1B1B.conj.td</key>
    <string>uni1B_1B_.conj.td.glif</string>
    <key>uni1B27.conj.td</key>
    <string>uni1B_27.conj.td.glif</string>
    <key>uni1B31.conj.td</key>
    <string>uni1B_31.conj.td.glif</string>
    <key>uni1B48.conj.td</key>
    <string>uni1B_48.conj.td.glif</string>
    <key>uni1B49.conj.ya.td</key>
    <string>uni1B_49.conj.ya.td.glif</string>
    <key>uni1B2C.conj.u.2</key>
    <string>uni1B_2C_.conj.u.2.glif</string>
    <key>uni1B2C.conj.uu.2</key>
    <string>uni1B_2C_.conj.uu.2.glif</string>
    <key>uni1B23.conj.ya.u</key>
    <string>uni1B_23.conj.ya.u.glif</string>
    <key>uni1B26.conj.ya.u</key>
    <string>uni1B_26.conj.ya.u.glif</string>
    <key>uni1B2D.conj.ya.u</key>
    <string>uni1B_2D_.conj.ya.u.glif</string>
    <key>uni1B2D.conj.3.ya.u</key>
    <string>uni1B_2D_.conj.3.ya.u.glif</string>
    <key>uni1B2F.conj.ya.u</key>
    <string>uni1B_2F_.conj.ya.u.glif</string>
    <key>uni1B49.conj.ya.u</key>
    <string>uni1B_49.conj.ya.u.glif</string>
    <key>uni1B23.conj.ya.uu</key>
    <string>uni1B_23.conj.ya.uu.glif</string>
    <key>uni1B26.conj.ya.uu</key>
    <string>uni1B_26.conj.ya.uu.glif</string>
    <key>uni1B2D.conj.ya.uu</key>
    <string>uni1B_2D_.conj.ya.uu.glif</string>
    <key>uni1B2D.conj.3.ya.uu</key>
    <string>uni1B_2D_.conj.3.ya.uu.glif</string>
    <key>uni1B2F.conj.ya.uu</key>
    <string>uni1B_2F_.conj.ya.uu.glif</string>
    <key>uni1B49.conj.ya.uu</key>
    <string>uni1B_49.conj.ya.uu.glif</string>
    <key>uni1B32.conj</key>
    <string>uni1B_32.conj.glif</string>
    <key>_reorder</key>
    <string>_reorder.glif</string>
    <key>uni1B13.ra</key>
    <string>uni1B_13.ra.glif</string>
    <key>uni1B14.ra</key>
    <string>uni1B_14.ra.glif</string>
    <key>uni1B15.ra</key>
    <string>uni1B_15.ra.glif</string>
    <key>uni1B16.ra</key>
    <string>uni1B_16.ra.glif</string>
    <key>uni1B17.ra</key>
    <string>uni1B_17.ra.glif</string>
    <key>uni1B18.ra</key>
    <string>uni1B_18.ra.glif</string>
    <key>uni1B19.ra</key>
    <string>uni1B_19.ra.glif</string>
    <key>uni1B1A.ra</key>
    <string>uni1B_1A_.ra.glif</string>
    <key>uni1B1B.ra</key>
    <string>uni1B_1B_.ra.glif</string>
    <key>uni1B1C.ra</key>
    <string>uni1B_1C_.ra.glif</string>
    <key>uni1B1D.ra</key>
    <string>uni1B_1D_.ra.glif</string>
    <key>uni1B1E.ra</key>
    <string>uni1B_1E_.ra.glif</string>
    <key>uni1B1F.ra</key>
    <string>uni1B_1F_.ra.glif</string>
    <key>uni1B20.ra</key>
    <string>uni1B_20.ra.glif</string>
    <key>uni1B21.ra</key>
    <string>uni1B_21.ra.glif</string>
    <key>uni1B22.ra</key>
    <string>uni1B_22.ra.glif</string>
    <key>uni1B23.ra</key>
    <string>uni1B_23.ra.glif</string>
    <key>uni1B24.ra</key>
    <string>uni1B_24.ra.glif</string>
    <key>uni1B25.ra</key>
    <string>uni1B_25.ra.glif</string>
    <key>uni1B26.ra</key>
    <string>uni1B_26.ra.glif</string>
    <key>uni1B27.ra</key>
    <string>uni1B_27.ra.glif</string>
    <key>uni1B28.ra</key>
    <string>uni1B_28.ra.glif</string>
    <key>uni1B29.ra</key>
    <string>uni1B_29.ra.glif</string>
    <key>uni1B2A.ra</key>
    <string>uni1B_2A_.ra.glif</string>
    <key>uni1B2B.ra</key>
    <string>uni1B_2B_.ra.glif</string>
    <key>uni1B2C.ra</key>
    <string>uni1B_2C_.ra.glif</string>
    <key>uni1B2D.ra</key>
    <string>uni1B_2D_.ra.glif</string>
    <key>uni1B2E.ra</key>
    <string>uni1B_2E_.ra.glif</string>
    <key>uni1B2F.ra</key>
    <string>uni1B_2F_.ra.glif</string>
    <key>uni1B30.ra</key>
    <string>uni1B_30.ra.glif</string>
    <key>uni1B31.ra</key>
    <string>uni1B_31.ra.glif</string>
    <key>uni1B32.ra</key>
    <string>uni1B_32.ra.glif</string>
    <key>uni1B33.ra</key>
    <string>uni1B_33.ra.glif</string>
    <key>uni1B45.ra</key>
    <string>uni1B_45.ra.glif</string>
    <key>uni1B46.ra</key>
    <string>uni1B_46.ra.glif</string>
    <key>uni1B47.ra</key>
    <string>uni1B_47.ra.glif</string>
    <key>uni1B48.ra</key>
    <string>uni1B_48.ra.glif</string>
    <key>uni1B49.ra</key>
    <string>uni1B_49.ra.glif</string>
    <key>uni1B4A.ra</key>
    <string>uni1B_4A_.ra.glif</string>
    <key>uni1B4B.ra</key>
    <string>uni1B_4B_.ra.glif</string>
    <key>uni1B27.conj.ra</key>
    <string>uni1B_27.conj.ra.glif</string>
    <key>uni1B28.conj.ra</key>
    <string>uni1B_28.conj.ra.glif</string>
    <key>uni1B31.conj.ra</key>
    <string>uni1B_31.conj.ra.glif</string>
    <key>uni1B48.conj.ra</key>
    <string>uni1B_48.conj.ra.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>uni1B7D</key>
    <string>uni1B_7D.glif</string>
    <key>uni1B7E</key>
    <string>uni1B_7E.glif</string>
  </dict>
</plist>
